<!--<div class="page-sidebar collapseit">-->
<div class="page-sidebar">

    <!-- MAIN MENU - START -->
    <div class="page-sidebar-wrapper" id="main-menu-wrapper"> 
        <!-- USER INFO - START -->
        <div class="profile-info row">
            <div class="profile-details col-md-8 col-sm-8 col-xs-8">
                <h3>
                <a href="ui-profile.html">LC Cargo</a>
                </h3>
            </div>
        </div>
        
        <!-- USER INFO - END -->
        <ul class='wraplist'>	

            <li class="">
                <a href="/profile">
                    <i class="fa fa-home"></i>
                    <span class="title">Home</span>
                </a>
            </li>
            
           <li class="">
                <a href="/agency_profile">
                    <i class="fa fa-user"></i>
                    <span class="title">Profile</span>
                </a>
            </li>

            <li class="">
                <a href="/inventory">
                    <i class="fa fa-table"></i>
                    <span class="title">Inventory</span>
                </a>
            </li>
            
            <li class="">
                <a href="/pointofsale">
                    <i class="fa fa-table"></i>
                    <span class="title">Point of sale</span>
                </a>
            </li>
            
            <li class="">
                <a href="/agency_newLabel">
                    <i class="fa fa-table"></i>
                    <span class="title">New Label</span>
                </a>
            </li>
            
            <li class="">
                <a href="#">
                    <i class="fa fa-search"></i>
                    <span class="title">Records</span><span class="arrow "></span>
                </a>
                
                <ul class="sub-menu" >
                    <li>
                        <a class="" href="/agency_pending">Pending</a>
                    </li>
                    <li>
                        <a class="" href="/agency_sent">Sent</a>
                    </li>
                </ul>
            </li>
        </ul>

    </div>
    <!-- MAIN MENU - END -->



    <div class="project-info">

        <div class="block1">
            <div class="data">
                <span class='title'>Labels</span>
                <span class='total'>345</span>
            </div>
        </div>
    </div>
</div>
			
			 <!-- <section id="main-content" class="sidebar_shift"> -->
