<% var companyID = Parse.User.current().get("Company").id%>
<!DOCTYPE html>
<html ng-app="myApp">
    <head>
		
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <meta charset="utf-8" />
        <title>LC Cargo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta content="" name="description" />
        <meta content="" name="author" />
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=VT323|Jura|EB+Garamond&amp;subset=all">
		<link rel="stylesheet" type="text/css" href="cod/labels/css/site.20150717032349.css">
	   
        <!--ADMIN REQUIREMENTS-->   
        <% include ../../generals/ultraAdmin.ejs %>
        <script src="/cod/js/moment.js"></script>
        <script src="/cod/js/common.js"></script>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <link rel="stylesheet" href="/resources/demos/style.css">     
        
        <script src="//www.parsecdn.com/js/parse-1.4.2.min.js"></script>
		
		
	    <style>


		#geocomplete { width: 200px}

		.map_canvas { 
		  width:100%; 
		  height: 400px; 
		  margin: 10px 20px 10px 0;
  
		}

		#multiple li { 
		  cursor: pointer; 
		  text-decoration: underline; 
		}
		</style>

		<script>
		function deleteRow(btn) {
		  var row = btn.parentNode.parentNode;
		  row.parentNode.removeChild(row);
		}
		</script>
          
        </head>
        <!-- END HEAD -->
        <!-- BEGIN BODY -->
        <body id="body-3">
		<!--START TOPBAR-->
		<div style="z-index:9999;">
	<% include ../../generals/topbar.ejs %>
</div> 
	   	<!-- START CONTENT -->
    
		  
			  
        <%include ../../generals/endFiles.ejs%>

        <!-- modal end -->
   
    
        
    </body>
	
</html>
