<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=VT323|Jura&amp;subset=all">
		<title>Page 4</title>
		<link rel="stylesheet" type="text/css" href="/cod/labels/css/site.20150712023655.css">
		<!--[if lte IE 7]>
		<link rel="stylesheet" type="text/css" href="css/site.20150712023655-lteIE7.css">
		<![endif]-->
		<!--[if lte IE 8]>
		<link rel="stylesheet" type="text/css" href="css/site.20150712023655-lteIE8.css">
		<![endif]-->
		<!--[if gte IE 9]>
		<link rel="stylesheet" type="text/css" href="css/site.20150712023655-gteIE9.css">
		<![endif]-->
	</head>
	<body id="body-4">
		<div class="section-4">
			<div class="cont-181">
				<div class="cont-182">
					<div class="cont-183"><p class="para-76"><span class="font-80">Consignee Registration</span></p></div>
				</div>
				<div class="cont-184">
					<div class="colwrapper-63">
						<div class="cont-185">
							<div class="cont-186"><p class="para-77"><span class="font-81">Full Name:</span></p></div>
						</div>
						<div class="cont-187">
							<input type="text" name="text" class="input-7">
						</div>
					</div>
				</div>
				<div class="cont-188">
					<div class="colwrapper-64">
						<div class="cont-189">
							<div class="cont-190"><p class="para-78"><span class="font-82">Language:</span></p></div>
						</div>
						<div class="cont-191">
							<input type="text" name="text" class="input-8">
						</div>
					</div>
				</div>
				<div class="cont-192">
					<div class="colwrapper-65">
						<div class="cont-193">
							<div class="cont-194"><p class="para-79"><span class="font-83">ID:</span></p></div>
						</div>
						<div class="cont-195">
							<input type="text" name="text" class="input-9">
						</div>
					</div>
				</div>
				<div class="cont-196">
					<div class="colwrapper-66">
						<div class="cont-197">
							<div class="cont-198"><p class="para-80"><span class="font-84">Tel:</span></p></div>
						</div>
						<div class="cont-199">
							<div class="colwrapper-67">
								<div class="cont-200">
									<input type="text" name="text" class="input-10">
								</div>
							</div>
							<div class="colwrapper-68">
								<div class="cont-201">
									<div class="cont-202"><p class="para-81"><span class="font-85">Tel</span><span class="font-86">&nbsp;2</span><span class="font-87">:</span></p></div>
								</div>
							</div>
							<div class="colwrapper-69">
								<div class="cont-203">
									<input type="text" name="text" class="input-11">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cont-204">
					<div class="colwrapper-70">
						<div class="cont-205">
							<div class="cont-206"><p class="para-82"><span class="font-88">Email:</span></p></div>
						</div>
						<div class="cont-207">
							<input type="text" name="text" class="input-12">
						</div>
					</div>
				</div>
				<div class="cont-208">
					<div class="colwrapper-71">
						<div class="cont-209">
							<div class="cont-210"><p class="para-83"><span class="font-89">Create Username:</span></p></div>
						</div>
						<div class="cont-211">
							<input type="text" name="text" class="input-13">
						</div>
					</div>
				</div>
				<div class="cont-212">
					<div class="colwrapper-72">
						<div class="cont-213">
							<div class="cont-214"><p class="para-84"><span class="font-90">Create Password:</span></p></div>
						</div>
						<div class="cont-215">
							<input type="text" name="text" class="input-14">
						</div>
					</div>
				</div>
				<div class="cont-216">
					<div class="colwrapper-73">
						<div class="cont-217">
							<div class="cont-218"><p class="para-85"><span class="font-91">Retype Password:</span></p></div>
						</div>
						<div class="cont-219">
							<input type="text" name="text" class="input-15">
						</div>
					</div>
				</div>
				<div class="cont-220">
					<div class="colwrapper-74">
						<div class="cont-221">
							<div class="cont-222"><p class="para-86"><span class="font-92">Destinations:</span></p></div>
						</div>
						<div class="cont-223">
							<input type="text" name="text" class="input-16">
						</div>
					</div>
				</div>
				<div class="cont-224"></div>
				<div class="cont-225">
					<div class="colwrapper-75">
						<div class="cont-226">
							<a class="button" href="index.html">Save</a>
						</div>
					</div>
					<div class="colwrapper-76">
						<div class="cont-227">
							<a class="button-2" href="index.html">Clear</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			var androidBrowserVersion = RegExp(/Mozilla\/5\.0 \(Linux; .; Android ([\d.]+)/).exec(navigator.userAgent);
if(androidBrowserVersion && parseFloat(androidBrowserVersion[1]) < 5) { document.getElementsByTagName('body')[0].className+=' whitespacefix'; }
		</script>
	</body>
</html>