<% var companyID = Parse.User.current().get("Company").id%>
<!DOCTYPE html>
<html ng-app="myApp">
    <head>
		
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <meta charset="utf-8" />
        <title>LC Cargo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta content="" name="description" />
        <meta content="" name="author" />
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=VT323">
	   
        <!--ADMIN REQUIREMENTS-->   
        <% include ../../generals/ultraAdmin.ejs %>
        <script src="/cod/js/moment.js"></script>
        <script src="/cod/js/common.js"></script>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <link rel="stylesheet" href="/resources/demos/style.css">     
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=VT323|Jura|EB+Garamond&amp;subset=all">
		<link rel="stylesheet" type="text/css" href="cod/labels/css/registerConsignee.css">
        <script src="//www.parsecdn.com/js/parse-1.4.2.min.js"></script>
		
	    <style>


		#geocomplete { width: 200px}

		.map_canvas { 
		  width:100%; 
		  height: 100%; 
  
		}

		#multiple li { 
		  cursor: pointer; 
		  text-decoration: underline; 
		}
		</style>

		<script>
		function deleteRow(btn) {
		  var row = btn.parentNode.parentNode;
		  row.parentNode.removeChild(row);
		}
		</script>
          
        </head>
        <!-- END HEAD -->
        <!-- BEGIN BODY -->
        <body class=" ">
		<!--START TOPBAR-->
		<% include ../../generals/topbar.ejs %> 
        <!-- START CONTAINER -->
        <div class="page-container row-fluid">
        <!-- SIDEBAR - START -->
        <!--  SIDEBAR - END -->	
        <!-- START CONTENT -->
        <section class="wrapper" style='display:inline-block;width:100%;'>
        <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
        <div class="page-title"> 
            <% include clientsMenu.ejs%>
       <h1 class="title" style="font-family: 'VT323', serif; font-size:50px; padding-left:13px;">Consignees - Inactive</h1>
	   <div id="content">
	   <% include pendings_partitions/table.ejs %>
       </div>   
       </div>
       </div>
       </section>
		
               <!-- END CONTENT -->

              </div><!-- END CONTAINER -->
  		</div>
        
    <div id="openModal" class="modalDialog">
        <div>
            <a href="#close" title="Close" class="close">X</a>

            <img src="assets/images/client.png" width="89" height="89" alt="Client" style="margin-top:5px;">
            <h2>Activate client's account.</h2>
            <table>

            <tr>
            <td><b>Name:</b></td>
            <td style="padding:0 34px 0 2px;" id="clientName">Jose Abella Eggleton Ramirez</td>
            <td style="padding:0 1px 0 2px;"><b></b></td>
            <td></td>
            </tr>
            <tr>
            <td><b>Tel:</b></td>
            <td id="clientTel">Jose</td>
            <td><b>Email:</b></td>
            <td id="clientEmail">Jose</td>
            </tr>

            </table>
            </br>
            User: <input id="txt_user" type="text">
            Password: <input id="txt_pass" type="text"><br><br>
            
            <form class="form-inline" method="POST" action="/activateClient">
                
            <a type="submit" href="#close" class="btn btn-primary" id="btn_activate">Activate</a>
            </form>
            </br>
            </br>
        </div>
    </div>
        
		
	    <!--MODAL PARA MOSTAR LABEL-->
	    <div id="openModalRegClient" class="modalDialogB">
	        <div>
	          <a href="#close" title="Close" class="closeB">X</a>
	            <div id="receipt_edit">	  		
				  		<div class="section-3" id="regClient">
				  			<div class="cont-135" id="regClient">
				  				<div class="cont-136" id="regClient">
				  					<div class="cont-137" id="regClient">
				  						<div class="cont-138" id="regClient"><p class="para-57"><span class="font-57">Register Client</span></p></div>
				  					</div>
				  				</div>
				  				<div class="cont-139" id="regClient">
				  					<div class="colwrapper-42" id="regClient">
				  						<div class="cont-140" id="regClient">
				  							<div class="cont-141" id="regClient"><p class="para-58"><span class="font-58">Full Name</span><span class="font-59">:</span></p></div>
				  						</div>
				  					</div>
				  					<div class="colwrapper-43" id="regClient">
				  						<div class="cont-142" id="regClient">
				  							<input type="text" name="text" class="input">
				  						</div>
				  					</div>
				  					<div class="colwrapper-44" id="regClient">
				  						<div class="cont-143" id="regClient">
				  							<div class="cont-144" id="regClient"><p class="para-59"><span class="font-60">Destinations:</span></p></div>
				  						</div>
				  					</div>
				  					<div class="colwrapper-45">
				  						<div class="cont-145">
				  			<input id="geocomplete" type="text" placeholder="Type in an address" class="input-2"/><button id="find" style="display:none;"  id="nesto-submit" class="btn btn-lg btn-nesto-o" style="top:-80px; left:40%;"/>Add</button>
				  						</div>
				  					</div>
				  				</div>
				  				<div class="cont-146" id="regClient">
				  					<div class="colwrapper-46" id="regClient">
				  						<div class="cont-147" id="regClient">
				  							<div class="cont-148" id="regClient"><p class="para-60"><span class="font-61">Language</span><span class="font-62">:</span></p></div>
				  						</div>
				  						<div class="cont-149" id="regClient">
				  							<div class="cont-150" id="regClient"><p class="para-61"><span class="font-63">ID</span><span class="font-64">:</span></p></div>
				  						</div>
				  					</div>
				  					<div class="colwrapper-47" id="regClient">
				  						<div class="cont-151" id="regClient">
				  							<input type="text" name="text" class="input-3">
				  						</div>
				  						<div class="cont-152" id="regClient">
				  							<input type="text" name="text" class="input-4">
				  						</div>
				  					</div>
				  					<div class="colwrapper-48" id="regClient">
				  						<div class="cont-153" id="regClient">
                                            <pre><b>Destinations List:</b> 
                                                <table id="logger" style='overflow:scroll;'>

                                                </table>
                                            </pre>
				  						</div>
				  					</div>
				  				</div>
				  				<div class="cont-154" id="regClient">
				  					<div class="colwrapper-49" id="regClient">
				  						<div class="cont-155" id="regClient">
				  							<div class="cont-156" id="regClient"><p class="para-62"><span class="font-65">Tel:</span></p></div>
				  						</div>
				  					</div>
				  					<div class="colwrapper-50" id="regClient">
				  						<div class="cont-157" id="regClient">
				  							<input type="text" name="text" class="input-5">
				  						</div>
				  					</div>
				  				</div>
				  				<div class="cont-158" id="regClient">
				  					<div class="colwrapper-51" id="regClient">
				  						<div class="cont-159" id="regClient">
				  							<div class="cont-160" id="regClient"><p class="para-63"><span class="font-66">Cel:</span></p></div>
				  						</div>
				  						<div class="cont-161" id="regClient">
				  							<div class="cont-162" id="regClient"><p class="para-64"><span class="font-67">Email:</span></p></div>
				  						</div>
				  						<div class="cont-163" id="regClient">
				  							<div class="cont-164" id="regClient"><p class="para-65"><span class="font-68">Username:</span></p></div>
				  						</div>
				  						<div class="cont-165" id="regClient">
				  							<div class="cont-166" id="regClient"><p class="para-66"><span class="font-69">Password</span><span class="font-70">:</span></p></div>
				  						</div>
				  					</div>
				  					<div class="colwrapper-52" id="regClient">
				  						<div class="cont-167" id="regClient">
				  							<input type="text" name="text" class="input-6">
				  						</div>
				  						<div class="cont-168" id="regClient">
				  							<input type="text" name="text" class="input-7">
				  						</div>
				  						<div class="cont-169" id="regClient">
				  							<input type="text" name="text" class="input-8">
				  						</div>
				  						<div class="cont-170" id="regClient">
				  							<input type="text" name="text" class="input-9">
				  						</div>
				  					</div>
				  					<div class="colwrapper-53" id="regClient">
				  						<div class="cont-171">
                                          
                                                <div class="map_canvas" >
                          
                                                </div>                       
					                              
				  						</div>
				  					</div>
				  				</div>
				  				<div class="cont-172" id="regClient">
				  					<div class="colwrapper-54" id="regClient">
				  						<div class="cont-173" id="regClient">
				  							<div class="cont-174" id="regClient"><p class="para-67"><span class="font-71">Re-type Password:</span></p></div>
				  						</div>
				  					</div>
				  					<div class="colwrapper-55" id="regClient">
				  						<div class="cont-175" id="regClient">
				  							<input type="text" name="text" class="input-10">
				  						</div>
				  					</div>
				  					<div class="colwrapper-56" id="regClient">
				  						<div class="cont-176" id="regClient">
				  							<a class="button" href="index.html">Clear</a>
				  						</div>
				  					</div>
				  					<div class="colwrapper-57" id="regClient">
				  						<div class="cont-177" id="regClient">
				  							<a class="button-2" href="index.html">Save</a>
				  						</div>
				  					</div>
				  				</div>
				  				<div class="cont-178" id="regClient"></div>
				  			</div>
				  		</div>
				  		<script type="text/javascript">
				  			var androidBrowserVersion = RegExp(/Mozilla\/5\.0 \(Linux; .; Android ([\d.]+)/).exec(navigator.userAgent);
				  if(androidBrowserVersion && parseFloat(androidBrowserVersion[1]) < 5) { document.getElementsByTagName('body')[0].className+=' whitespacefix'; }
				  		</script>
                
		              </div>
		          </div>
		      </div>
        <!-- END CONTAINER -->
        <!-- LOAD FILES AT PAGE END FOR FASTER LOADING -->
        <%include ../../generals/endFiles.ejs%>

        <!-- modal end -->
        <script src="/cod/js/jquery-1.11.2.min.js"></script>
     
        <script src="https://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
        <script src="cod/js/jquery.geocomplete.js"></script>
     
        <script>
         
            var $j = jQuery.noConflict();

            var nwarehouses = 1;
         
            $j(function(){

                var options = {
                  map: ".map_canvas",
                    details: "form ul",
                  detailsAttribute: "data-geo"
                };
             
                $j("#geocomplete").geocomplete(options)
                  .bind("geocode:result", function(event, result){
                      /*alert(JSON.stringify(result) );*/
                   
                    $j.log(result);
                  })
			  

                  .bind("geocode:error", function(event, status){
                    /*$j.log("ERROR: " + status);*/
                  })
               
                  .bind("geocode:multiple", function(event, results){
                    /*$j.log("Multiple: " + results.length + " results found");*/
                  });
            
              });
           
              $j("#find").click(function(){
                $j("#geocomplete").val('');
              });
           
           
              $j.log = function(result){
                var message = result.formatted_address;
                var wareName = result["address_components"][0]["long_name"];
             
                var long_name;
                var short_name;
             
                for( i in result["address_components"] )
                {
                    if( $.inArray("country", result["address_components"][i]["types"]) > -1)
                    {
                        wareName += " - " + result["address_components"][i]["long_name"];
                        long_name = result["address_components"][i]["long_name"];
                        short_name = result["address_components"][i]["short_name"];
                        break;
                    }
                }
             
                var logger = $j("#logger");
                logger.html(logger.html()+ "<tr><td style='white-space: nowrap; padding-top: 2px;' align='left'>" + 
                                "<a onclick='deleteRow(this)'>Delete</a>"  +
                                "\n * " + message + "\n" + "<b><font color='#E08566'>Destination Name:</font></b>" + "\n" + 
                                "<input type='text' name='Alias" + nwarehouses.toString() + "' value='"+ wareName +
                                "' placeholder='Destination Name' style='width:34%; background:white; height:34px;'><input type='hidden' value='" + message +
                                "' name='Address"+ nwarehouses.toString() +"'>"+  
                                "<input type='hidden' name='Country"+ nwarehouses.toString() +"' value='"+ long_name +"'>" +
                                "<input type='hidden' name='CountryCode"+ nwarehouses.toString() +"' value='"+ short_name +"'>" +
                                "<input type='hidden' name='GeoCode"+ nwarehouses.toString() +"' value='"+ JSON.stringify(result) +"'></td></tr>");
                             
                nwarehouses += 1;
             
                $j("#geocomplete").val('');
              };
           
         
        </script>
        
    <script>

    Parse.initialize("XEPryFHrd5Tztu45du5Z3kpqxDsweaP1Q0lt8JOb", "MDhb1hBngr2tx2v9TjyzoUhMcOFeWGJ56TWvChqi");
        
    /* GLOBAL USER */
    var user;

    /* OBTENCION Y ALMACENAMIENTO DEL CURRENT USER PARA USARSE CLIENTSIDE */
    var query = new Parse.Query("User");
    
    query.descending('createdAt');
    query.include("Company");
    
    query.get("<%= user.id%>", {
        success: 
            function(object)
            {
                /* SAVE USER FOR FUTURE OPERATIONS */
                user = object;
                
            }
        });
        
    $("#btn_activate").click(function(){
            
            /* CREAR EL NUEVO USUARIO */
            /*var user = new Parse.User();*/
            
            var query = new Parse.Query("Clients");
            query.get(clientID, {success: function(clientres){
                            
                    clientres.set("Status", "Active");
                    clientres.save();
                    
                    update_table();
                    
                    $.post("/get_activation_template_clientInactive", {user:$("#txt_user").val(), pass:$("#txt_pass").val(), clientID:clientID}, function(template){
                
                                                        
                            /* EMAIL PARAMETERS */
                            emailparams = {
                                            "text": template,
                                            "subject": "Account activated",
                                            "from_email": "cargoparse@notifications.com",
                                            "from_name":"Notifier",
                                            "to_email": clientres.get("Email"),
                                            "to_name":clientres.get("Name")
                                        };
                                                            
                            /* SEND EMAIL */
                            Parse.Cloud.run('sendMail', emailparams, {
                                success: 
                                    function(result) 
                                    {
                                        alert(result);
                                    },
                                error:
                                    function()
                                    {
                                    }
                                });  
                            
                            alert("Activated");
                            
                        });
                    
                }});
            
            
        });
        

        function update_table()
        {   
            
            conditions = {notContainedIn: {'Status' : ["Active", "Pending"]},
                            equalTo:{"Company":{__type: "Pointer", className: "Companies", objectId: user.get("Company").id} }};
            
            InsertTable({
                    cols:   
                         {
                            
                            "Name":"",
                            "Country":"", 
                            "Company":{"Name":""},
                            "Telephone":"",
                            "Email":"",
                            "objectId":""
                        },
                    collection: "Clients", 
                    conditions: filter_conditions_with_dict({conditions:conditions}),
                    like: filter_like(),
                    document: "Staff/Clients/pendings_partitions/dynamictable",
                    itemid: "clientstable"
                });
                       
        }


        $("#btn_search").click(function(){
                if($("#searchtext").val() == "")
                {
                    alert("Search text void, please enter keyword to find");
                }
                else
                    update_table();
            });        

        $("#filterby").change(function()
            {
                filterby_changed(); 
            });
        
    </script>
        
    </body>
	
</html>
