
.cont-3 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(184,199,210,0.868);
}
.cont-4 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(255,255,255,0.977);
}
.cont-36 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(203,40,20,0.479);
}
.cont-37 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(0,0,0,0.634);
}
