		  			  <table align="right" style="position:relative; top:5px;">
		  				  <tr>
		  	  	  <td style="padding:0 2px 0 2px">	<a class="pure-button" href="/staff_sending"><font color="#677A85">Sending</font></a></td>
		  	  		<td style="padding:0 2px 0 2px"><a class="pure-button" href="/staff_receiving"><font color="#677A85">Receiving</font></a></td>
		  		</tr></table>
