<!DOCTYPE html>
<html ng-app="myApp">
    <head>
		
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <meta charset="utf-8" />
        <title>LC Cargo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta content="" name="description" />
        <meta content="" name="author" />
       
			
    <!--ADMIN REQUIREMENTS-->   
  <% include ../generals/ultraAdmin.ejs %>
      <script src="/cod/js/moment.js"></script>
    <script src="/cod/js/common.js"></script>

    <script src="/cod/js/jquery-1.11.2.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
    </head>
	 
    <!--END HEAD-->
    <!--BEGIN BODY-->
	
    <body class=" ">
    
		<!--START TOPBAR-->
        <% include generals/topbar.ejs %>
		 
        <!--START CONTAINER-->
        <div class="page-container row-fluid">
        <!--SIDEBAR-START -->
        <% include generals/sideBar.ejs %>
        <!--SIDEBAR-END-->
        
        
			
			
        <!-- START CONTENT -->
        
        
        
                    <div style="position:absolute; left:250px; top:100px; width:1000px;">
                    
                    <h2>Inventory catalog</h2>
                    
                        <section class="box ">
                            <header class="panel_header">
                                <h2 class="title pull-left">Product List</h2>
                                
                            </header>
                            <div class="content-body">    <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">

                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th width=50>Key</th>
                                                    <th>Product</th>
                                                    <th>Prices</th>
                                                    <th width=50>Existence</th>
                                                    <th width=50 value=100>Max</th>
                                                    <th width=50 value=1>Min</th>
                                                    <th>Tags</th>
                                                    <th>Add</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th width=50><input id="Key" type="text" style="width:50px;"></th>
                                                    <td><input id="Name" type="text"></td>
                                                    <td><input id="Prices" type="text"></td>
                                                    <td width=50><input id="Existence" type="text" style="width:50px;"></td>
                                                    <td width=50><input id="Max" type="text" style="width:50px;"></td>
                                                    <td width=50><input id="Min" type="text" style="width:50px;"></td>
                                                    <td><input id="Tags" type="text"></td>
                                                    
                                                    <td><img src="web/img/icons/newtab.png" id="btn_add" alt="Add Box" width="28" height="28" class="lower-right-button" ></td>
                                                </tr>
                                                
                                                <% include inventory/dynamicrows.ejs %>
                                                
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </section></div>



        <!-- END CONTENT -->
        <%include ../generals/endFiles.ejs%>
        

        <!-- modal end -->
        
    
    <script>
    agencyID = "<%= user.get("AgencyID").id %>";
    
    $("#btn_add").click(function(){
            alert("add reg");
            
                
            $.post("/extends", 
                {
                    values:
                    {
                        /*Transaction: {__type: "Autoincrement"},*/
                        Store: {__type: "Pointer", className: "Agencies", objectId: agencyID},
                        Key: $("#Key").val(),
                        Name: $("#Name").val(),
                        Prices:         $("#Prices").val(),
                        Existence:         $("#Existence").val(),
                        Max:         $("#Max").val(),
                        Min:         $("#Min").val(),
                        Tags:         $("#Tags").val()
                    },
                    collection: "Inventories",
                    document: "agencies/inventory/dynamicrows",
                    }, 
                    
                    function(data)
                    {
                        $("#" + kwargs["itemid"]).replaceWith(data);
                    }
            ); 
            
        });
    
    </script>
    
    </body>
</html>
