<div id="modalmessage">
	<div style="position:relative; left:18%;">
    

		<table>
			<tr>
				<th>
                    <h1>New receipt created!</h1></th>
            </tr>
            <tr>
                <td>
                    <a onclick="window.open('/printreceipt/' + '<%= newreg.id%>','Microsoft')" class="btn btn-purple btn-md"><i class="fa fa-print"></i> &nbsp; Print receipt </a>        
                    <a onclick="window.open('/printlabels/' + '<%= newreg.id%>','Microsoft')" class="btn btn-orange btn-md"><i class="fa fa-send"></i> &nbsp; Print labels </a>  
                <td>
            </tr>
            
            <tr>
                <td align="center">
                    <br>
                    <a href="#close" class="pure-button pure-button-primary">Ok</a>
                </td>
            </tr>
        </table>
        

        
    </div>
</div>

<script>

    new QRCode(document.getElementById("qrcode"), "<%= newreg.id %>");
    
</script>
