<div id="modalmessage">
	<div style="position:relative; left:18%;">
		<table>
			<tr>
				<th>
    <h2>New receipt created!</h2></th>
</tr>
	<tr>
    <td align="center">
    <a href="#close" class="pure-button pure-button-primary">Ok</a>
</td>
</tr>
</table>
</div>
</div>

<script>

    new QRCode(document.getElementById("qrcode"), "<%= newreg.id %>");

</script>
