<!DOCTYPE html>
<html class=" ">
    <head>
        <!-- 
         * @Package: Ultra Admin - Responsive Theme
         * @Subpackage: Bootstrap
         * @Version: 1.0
         * This file is part of Ultra Admin Theme.
        -->
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <meta charset="utf-8" />
        <title>LC Cargo Xpress</title>
  
	    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	    <script src="https://www.parsecdn.com/js/parse-1.2.8.min.js"></script>
  
  
		<style>
		body {
		
			-moz-background-size: cover;
			    -webkit-background-size: cover;
			    -o-background-size: cover;
			    background-size: cover;
		}
		
	    .modalDialog {
	    	position: fixed;
	    	font-family: Arial, Helvetica, sans-serif;
	    	top: 0;
	    	right: 0;
	    	bottom: 0;
	    	left: 0;
	  	height:100%;
	    	background: rgba(0,0,0,0.8);
	    	z-index: 99999;
	    	-webkit-transition: opacity 400ms ease-in;
	    	-moz-transition: opacity 400ms ease-in;
	    	transition: opacity 400ms ease-in;
	  
	    }

	    .modalDialog > div {
	    	width: 377px;
	    	position: relative;
	    	margin: 3% auto;
	    	padding: 5px 10px 3px 1px;
	    	border-radius: 10px;
	    	background: white;
	    }


		</style>
		
 
	

    </head>
    <!-- END HEAD -->

    <!-- BEGIN BODY -->
    <body>
	
		<!--MODAL PARA MOSTAR LABEL-->
	    <div id="" class="modalDialog">
			
	        <div>
	      
			 <form method="post" name="regform" action="/databaseReg" class="bootstrap-frm" align="center" >
		<h1>Registro:</h1>
						 		
		<label>Name / Nombre:</label></br>
		<input type="text" maxlength="21" name="reg_Name" id="Name" placeholder="Name:" value="" class="form-control"></br></br>
								
		<label>Company/ Empresa:</label></br>
		<input type="text" maxlength="21" name="reg_Company" id="Name" placeholder="Company:" value="" class="form-control"></br></br>
						
		<label>Email:</label></br>
		<input type="text" maxlength="21" name="reg_Email" id="Email" placeholder="Email:" value="" class="form-control"></br></br>
		
		<label>City/ Ciudad:</label></br>
		<input type="text" maxlength="21" name="reg_City" id="city" placeholder="City:" value="" class="form-control"></br></br>
		
		<label>Phone/ Teléfono:</label></br>
		<input type="text" maxlength="21" name="reg_Phone" id="Phone" placeholder="Phone:" value="" class="form-control"></br></br>
					
			    <input type="submit" name="submit" value="Register"></br>
			
				</br>
				</form>
			    </br>
			    
	       
	        </div>
	    </div>
	


    </body>
</html>



