<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=960">
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=VT323&amp;subset=all">
		<title>HOME</title>
		<link rel="stylesheet" type="text/css" href="cod/profile/css/site.20150805181412.css">
        
       <script src="/cod/js/jquery-1.11.2.min.js"></script>
       <script src="//www.parsecdn.com/js/parse-1.4.2.min.js"></script>
       
		 <% include generals/ultraAdmin.ejs %>
		
	</head>
	<body id="body">
                              <style>
						   nav ul ul {
						   	display: none;
						   }

						   	nav ul li:hover > ul {
								display:block;
						   		position: absolute;
								width:100%;
						   	}
							
							nav ul li:hover {
									background: none;
								
								}
									

											
								
							</style>
							
			<nav class="navbar navbar-inverse" style="z-index:9999; background:#677A85;">
                   <div class="container-fluid" style="background:#52646F;">
                    <!-- Ultra Admin and toggle get grouped for better mobile display -->
                       <div class="navbar-header">
             <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9">
                         <span class="sr-only">Toggle navigation</span>
                         <span class="icon-bar"></span>
                         <span class="icon-bar"></span>
                         <span class="icon-bar"></span>
                          </button>
                    </div>

               <!-- Collect the nav links, forms, and other content for toggling -->
			
			
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9" style="z-index:9999;">
        <ul class="nav navbar-nav" style="z-index:9999;">
     <li>
     <a href="/profile" style="color:white;">
	 <i class="fa fa-home"></i>
     <span class="title">Home</span>
     </a>
	 </li>
																	
				   <li >
				   <a href="javascript:;">
				   <i class="fa fa-table" style="color:white;"></i>
				   <span class="title" style="color:white;">Warehouse</span><span class="arrow "></span>
				   </a>
				   <ul class="dropdown-menu">
				   <a href="/staff_newLabel"><li align="center"><b>New Receipt</b></li></a>
				   <a href="/staff_warehouse"><li align="center"><b>Receipts</b></li></a>
				   <a href="/staff_Repack"><li align="center"><b>New Warehouse</b></li></a>
				   <a href="/staff_repackList"><li align="center"><b>Warehouse</b></li></a>
				   </ul>
				   </li>
					
									  
		        <li>
			    <a href="javascript:;" style="color:white;">
			    <i class="fa fa-clock-o fa-spin" style="color:white;"></i>
				<span class="title" style="color:white;">In Transit</span><span class="arrow "></span>
			    </a>
				<ul class="dropdown-menu">
				<a href="/staff_sending"><li align="center"><b>Warehouses</b></li></a>
				<a href="/staff_storestransit"><li align="center"><b>Stores</b></li></a>
				</ul>
				</li>
											   
			   
					<li>
			        <a href="javascript:;" style="color:white;">
		            <i class="fa fa-plane" style="color:white;"></i>
		            <span class="title" style="color:white;">Air Freight</span><span class="arrow "></span>
		            </a>
					<ul class="dropdown-menu">
				    <a href="/staff_airSectionNP"><li align="center"><b>Direct AWB</b></li></a>
				    <a href="/staff_airSectionP"><li align="center"><b>House AWB</b></li></a>
				    </ul>
				    </li>
				
				   
                  <li>
                  <a href="javascript:;" style="color:white;">
                  <i class="fa fa-truck" style="color:white;"></i>
                  <span class="title" style="color:white;">Land Freight</span><span class="arrow "></span>
                  </a>
                  <ul class="dropdown-menu">
                  <a href="/staff_terrestralSectionNP"><li align="center"><b>Not Processed</b></li></a>
                  <a href="/staff_terrestralSectionP"><li align="center"><b>Processed</b></li></a>
                  </ul>
                  </li>
			   
  
           <li>
           <a href="javascript:;" style="color:white;">
           <i class="fa fa-globe" style="color:white;"></i>
           <span class="title" style="color:white;">Ocean</span><span class="arrow "></span>
		</a>
           <ul class="dropdown-menu">
           <a href="staff_seaSectionNP"><li align="center"><b>Not Processed</b></li></a>
           <a href="staff_seaSectionP"><li align="center"><b>Processed</b></li></a>
           </ul>
           </li>


            <li>
            <a href="javascript:;" style="color:white;">
            <i class="fa fa-users" style="color:white;"></i>
            <span class="title" style="color:white;">Clients</span><span class="arrow "></span>
            </a>
            <ul class="dropdown-menu">
            <a href="/staff_clientProfile"><li align="center"><b>Profiles</b></li></a>
            <a href="/active_clients"><li align="center"><b>Active</b></li></a>
            <a href="/pending_clients"><li align="center"><b>Pending</b></li></a>
            <a href="/inactive_clients"><li align="center"><b>Inactive</b></li></a>
		  <a href="/staff_consigneeReg"><li align="center"><b>Register</b></li></a>
            </ul>
            </li>
		

           <li>
           <a href="javascript:;" style="color:white;">
           <i class="fa fa-tag" style="color:white;"></i>
           <span class="title" style="color:white;">Shippers</span><span class="arrow "></span>
           </a>
           <ul class="dropdown-menu">
           <a href="/staff_agencyProfile"><li align="center"><b>Profiles</b></li></a>
           <a href="/staff_agencies"><li align="center"><b>Active</b></li></a>
           <a href="/staff_penAgencies"><li align="center"><b>Pending</b></li></a>
           <a href="/staff_inAgencies"><li align="center"><b>Inactive</b></li></a>
           </ul>
           </li>
		
		
           <li>
           <a href="/zones" style="color:white;">
           <i class="fa fa-cubes" style="color:white;"></i>
           <span class="title" style="color:white;">Zones</span>
		</a>
           </li>
		
		
           <li style="color:white;">
           <a href="/records">
           <i class="fa fa-folder-o" style="color:white;"></i>
           <span class="title" style="color:white;">Records</span>
           </a> 
           </li>
		
		
             <li>
             <a href="/trash" style="color:white;">
             <i class="fa fa-trash-o" style="color:white;"></i>
             <span class="title" style="color:white;">Trash</span>
		  </a>
             </li>

			                <li>
		                    <a href="/staff_staffList" style="color:white;">
                            <i class="fa fa-wrench" style="color:white;"></i>
			                <span class="title" style="color:white;">Settings</span>
			                </a>
			                </li>
											
							<li>
		                    <a href="/logout_staff" style="color:white;">
		                    <i class="fa fa-lock" style="color:white;"></i>
		                    <span class="title" style="color:white;">Logout</span>
		                    </a>
							</li>
									
                                           </ul>
                                       </div><!-- /.navbar-collapse -->
                                   </div><!-- /.container-fluid -->
                               </nav>
							   
							   
				
        <button id="btn_accounts">Update accounts #</button>
        <button id="btn_lastaccount">Show last #</button>
        <div id="div_status">Ready!</div>
                    
        <script>

            if( window.location.href.indexOf("cloudbox.parseapp") !=-1 )
                Parse.initialize("Slh0vzK6DCaarshvF1Vu0ku3Rx2hwDdTaYwW7DLU", "TkJgyQRuMqqKtzZ6bEjdESPiUZ6sVkg3QntIxmh7");
            else
                Parse.initialize("XEPryFHrd5Tztu45du5Z3kpqxDsweaP1Q0lt8JOb", "MDhb1hBngr2tx2v9TjyzoUhMcOFeWGJ56TWvChqi");

            $("#btn_lastaccount").click(function(){
                    alert("Last");
                    
                    var query = new Parse.Query("Clients");
                    query.descending("AccountID");
                    query.first({success: function(lastclient){
                            alert(JSON.stringify(lastclient));
                        }});
                });

            $("#btn_accounts").click(function(){
                    $("#div_status").html("Updating");
                    
                    var query = new Parse.Query("Clients");
                    
                    query.find({success: function(results){
                            
                            var accountnum = 0;
                            
                            for(i in results)
                            {                                
                                results[i].set("AccountID", "A" + zeroPad(accountnum,4))
                                accountnum++;
                            }
                            
                            Parse.Object.saveAll(results,{success:function(){
                                    alert("Actualizados !!");
                                }});
                            
                        }});
                    
                });
                
            function zeroPad(num, numZeros) {
                var n = Math.abs(num);
                var zeros = Math.max(0, numZeros - Math.floor(n).toString().length );
                var zeroString = Math.pow(10,zeros).toString().substr(1);
                if( num < 0 ) {
                    zeroString = '-' + zeroString;
                }

                return zeroString+n;
            }
        
        </script>
                    		   
		<div class="section" id="dashboard">
			<div class="cont" id="dashboard">
                
            
				<div class="cont-2" id="dashboard">
					<div class="colwrapper" id="dashboard">
						<div class="cont-3" id="dashboard">
							  <a href="/staff_newLabel"><img src="cod/profile/images/warehouse-118.png" alt="" class="img"></a>
						</div>
					</div>
					<div class="colwrapper-2" id="dashboard">
						<div class="cont-4" id="dashboard">
                            <a href="/staff_warehouse"><img src="cod/profile/images/old-118.png" alt="" class="img-2"></a>
						</div>
					</div>
					<div class="colwrapper-3" id="dashboard">
						<div class="cont-5" id="dashboard">
							<a href="/staff_Repack"><img src="cod/profile/images/repack-118.png" alt="" class="img-3"></a>
						</div>
					</div>
					<div class="colwrapper-4" id="dashboard">
						<div class="cont-6" id="dashboard">
						<img src="cod/profile/images/old-118.png" alt="" class="img-4">
						</div>
					</div>
					<div class="colwrapper-5" id="dashboard">
						<div class="cont-7" id="dashboard">
						<a href="/staff_sending"><img src="cod/profile/images/transfers-124.png" alt="" class="img-5"></a>
						</div>
					</div>
				</div>
				<div class="cont-8" id="dashboard">
					<div class="colwrapper-6" id="dashboard">
						<div class="cont-9" id="dashboard">
							<div class="cont-10" id="dashboard"><p class="para"> <a href="/staff_newLabel"><span class="font">NEW RECEIPT</span></a></p></div>
						</div>
					</div>
					<div class="colwrapper-7" id="dashboard">
						<div class="cont-11" id="dashboard">
							<div class="cont-12" id="dashboard"><p class="para-2"> <a href="/staff_warehouse"><span class="font-2">RECEIPTS TABLE</span></a></p></div>
						</div>
					</div>
					<div class="colwrapper-8" id="dashboard">
						<div class="cont-13" id="dashboard">
							<div class="cont-14" id="dashboard"><p class="para-3"><a href="/staff_Repack"><span class="font-3">NEW WAREHOUSE</span></a></p></div>
						</div>
					</div>
					<div class="colwrapper-9" id="dashboard">
						<div class="cont-15" id="dashboard">
							<div class="cont-16" id="dashboard"><p class="para-4"><span class="font-4">WAREHOUSE TABLE</span></p></div>
						</div>
					</div>
					<div class="colwrapper-10" id="dashboard">
						<div class="cont-17" id="dashboard">
							<div class="cont-18" id="dashboard"><p class="para-5"><a href="/staff_sending"><span class="font-5">IN TRANSIT</span></a></p></div>
						</div>
					</div>
				</div>
				<div class="cont-19" id="dashboard">
					<div class="colwrapper-11" id="dashboard">
						<div class="cont-20" id="dashboard">
							<a href="/staff_seaSectionNP"><img src="cod/profile/images/sea_con-green-108.png" alt="" class="img-6"></a>
						</div>
					</div>
					<div class="colwrapper-12" id="dashboard">
						<div class="cont-21" id="dashboard">
							<a href="/staff_terrestralSectionNP"><img src="cod/profile/images/truck-114.png" alt="" class="img-7"></a>
						</div>
					</div>
					<div class="colwrapper-13" id="dashboard">
						<div class="cont-22" id="dashboard">
							<a href="/staff_airSectionNP"><img src="cod/profile/images/plane-123.png" alt="" class="img-8"></a>
						</div>
					</div>
					<div class="colwrapper-14" id="dashboard">
						<div class="cont-23" id="dashboard">
						<a href="/active_clients"><img src="cod/profile/images/client-116.png" alt="" class="img-9"></a>
						</div>
					</div>
					<div class="colwrapper-15" id="dashboard">
						<div class="cont-24" id="dashboard">
								<a href="/staff_agencies"><img src="cod/profile/images/store-116.png" alt="" class="img-10"></a>
						</div>
					</div>
				</div>
				<div class="cont-25" id="dashboard">
					<div class="colwrapper-16" id="dashboard">
						<div class="cont-26" id="dashboard">
							<div class="cont-27" id="dashboard"><p class="para-6"><a href="/staff_seaSectionNP"><span class="font-6">OCEAN</span></a></p></div>
						</div>
					</div>
					<div class="colwrapper-17" id="dashboard">
						<div class="cont-28" id="dashboard">
							<div class="cont-29" id="dashboard"><p class="para-7"><a href="/staff_terrestralSectionNP"><span class="font-7">LAND FREIGHT</span></a></p></div>
						</div>
					</div>
					<div class="colwrapper-18" id="dashboard">
						<div class="cont-30" id="dashboard">
							<div class="cont-31" id="dashboard"><p class="para-8"><a href="/staff_airSectionNP"><span class="font-8">AIR FREIGHT</span></a></p></div>
						</div>
					</div>
					<div class="colwrapper-19" id="dashboard">
						<div class="cont-32" id="dashboard">
							<div class="cont-33" id="dashboard"><p class="para-9"><a href="/active_clients"><span class="font-9">CONSIGNEES</span></a></p></div>
						</div>
					</div>
					<div class="colwrapper-20" id="dashboard">
						<div class="cont-34" id="dashboard">
							<div class="cont-35" id="dashboard"><p class="para-10"><a href="/staff_agencies"><span class="font-10">SHIPPERS</span></a></p></div>
						</div>
					</div>
				</div>
			</div>
			<div class="cont-36" id="dashboard">
				<div class="cont-37" id="dashboard"><p class="para-11"><span class="font-11">WELCOME  <%= Parse.User.current().get("username").split("@")[0].toUpperCase() %></span></p></div>
			</div>
		</div>
	
	</body>
</html>
