<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=1200">
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=VT323|Jura&amp;subset=all">
		<title>Page 1</title>
		<link rel="stylesheet" type="text/css" href="cod/profile/css/site.20150721031316.css">
		 <% include generals/ultraAdmin.ejs %>
		<!--[if lte IE 7]>
		<link rel="stylesheet" type="text/css" href="css/site.20150721024852-lteIE7.css">
		<![endif]-->
		<!--[if lte IE 8]>
		<link rel="stylesheet" type="text/css" href="css/site.20150721024852-lteIE8.css">
		<![endif]-->
		<!--[if gte IE 9]>
		<link rel="stylesheet" type="text/css" href="css/site.20150721024852-gteIE9.css">
		<![endif]-->
	</head>
	<body id="body">
		 <% include generals/topbar.ejs %>
		<div class="section" id="dashboard">
			<div class="cont" id="dashboard">
				<div class="colwrapper" id="dashboard">
					<div class="cont-2" id="dashboard">
						<div class="colwrapper-2" id="dashboard">
							<div class="cont-3" id="dashboard"></div>
							<div class="cont-4" id="dashboard">
								<div class="cont-5" id="dashboard">
									<div class="colwrapper-3" id="dashboard">
										<div class="cont-6" id="dashboard">
									<a href="/staff_seaSectionNP"><img src="cod/profile/images/sea_con-green-108.png" alt="" class="img"></a>
										</div>
									</div>
									<div class="colwrapper-4" id="dashboard">
										<div class="cont-7" id="dashboard">
											<a href="/staff_terrestralSectionNP"><img src="cod/profile/images/truck-114.png" alt="" class="img-2"></a>
										</div>
									</div>
									<div class="colwrapper-5" id="dashboard">
										<div class="cont-8" id="dashboard">
											<a href="/staff_airSectionNP"><img src="cod/profile/images/plane-123.png" alt="" class="img-3"></a>
										</div>
									</div>
								</div>
								<div class="cont-9" id="dashboard">
									<div class="colwrapper-6" id="dashboard">
										<div class="cont-10" id="dashboard">
											<div class="cont-11" id="dashboard"><p class="para"><a href="/staff_seaSectionNP"><span class="font">Ocean</span></a></p></div>
										</div>
										<div class="cont-12" id="dashboard">
											<a href="/staff_Repack"><img src="cod/profile/images/repack-118.png" alt="" class="img-4"></a>
										</div>
										<div class="cont-13" id="dashboard">
											<div class="cont-14"><p class="para-2"><a href="/staff_Repack"><span class="font-2">WH. Receipt</span></a></p></div>
										</div>
									</div>
									<div class="colwrapper-7" id="dashboard">
										<div class="cont-15" id="dashboard">
											<div class="colwrapper-8" id="dashboard">
												<div class="cont-16" id="dashboard">
													<a href="/staff_newLabel"><img src="cod/profile/images/warehouse-118.png" alt="" class="img-5"></a>
												</div>
												<div class="cont-17" id="dashboard">
													<div class="cont-18" id="dashboard"><p class="para-3"><span class="font-3">New Receipt</span></p></div>
												</div>
											</div>
										</div>
										<div class="cont-19" id="dashboard">
											<div class="cont-20" id="dashboard"><p class="para-4"><a href="/staff_terrestralSectionNP"><span class="font-4">Land Freight</span></a></p></div>
										</div>
									</div>
									<div class="colwrapper-9" id="dashboard">
										<div class="cont-21" id="dashboard">
											<img src="cod/profile/images/old-118.png" alt="" class="img-6">
										</div>
									</div>
									<div class="colwrapper-10" id="dashboard">
										<div class="cont-22" id="dashboard">
											<div class="cont-23" id="dashboard"><p class="para-5"><a href="/staff_airSectionNP"><span class="font-5">Air </span><span class="font-6">Freight</span></a></p></div>
										</div>
										<div class="cont-24" id="dashboard">
											<div class="cont-25" id="dashboard"><p class="para-6"><span class="font-7">Records</span></p></div>
										</div>
									</div>
								</div>
								<div class="cont-26" id="dashboard">
									<div class="colwrapper-11" id="dashboard">
										<div class="cont-27" id="dashboard">
											<a href="/active_clients"><img src="cod/profile/images/client-116.png" alt="" class="img-7"></a>
										</div>
									</div>
									<div class="colwrapper-12" id="dashboard">
										<div class="cont-28" id="dashboard">
											<div class="cont-29" id="dashboard"><p class="para-7"><a href="/active_clients"><span class="font-8">Clients</span></a></p></div>
										</div>
									</div>
									<div class="colwrapper-13" id="dashboard">
										<div class="cont-30" id="dashboard">
											<a href="/staff_agencies"><img src="cod/profile/images/store-116.png" alt="" class="img-8"></a>
										</div>
									</div>
									<div class="colwrapper-14" id="dashboard">
										<div class="cont-31" id="dashboard">
											<div class="cont-32" id="dashboard"><p class="para-8"><a href="/staff_agencies"><span class="font-9">Stores</span></a></p></div>
										</div>
									</div>
									<div class="colwrapper-15" id="dashboard">
										<div class="cont-33" id="dashboard">
											<a href="/staff_sending"><img src="cod/profile/images/transfers-124.png" alt="" class="img-9"></a>
										</div>
										<div class="cont-34" id="dashboard">
											<div class="cont-35" id="dashboard"><p class="para-9"><a href="/staff_sending"><span class="font-10">In Transit</span></a></p></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="cont-36"></div>
				</div>
			</div>
		</div>
		<div class="cont-37" id="dashboard"></div>
		<div class="section-2" id="dashboard">
			<div class="cont-38" id="dashboard">
				<div class="cont-39" id="dashboard"><p class="para-10"><span class="font-11">WELCOME <%= Parse.User.current().get("username").split("@")[0].toUpperCase() %></span></p></div>
			</div>
		</div>
		<script type="text/javascript" src="js/jquery.js"></script>
		<script type="text/javascript" src="js/index.js"></script>
		<script type="text/javascript">
			var androidBrowserVersion = RegExp(/Mozilla\/5\.0 \(Linux; .; Android ([\d.]+)/).exec(navigator.userAgent);
if(androidBrowserVersion && parseFloat(androidBrowserVersion[1]) < 5) { document.getElementsByTagName('body')[0].className+=' whitespacefix'; }
		</script>
	</body>
</html>
