<!DOCTYPE html>
<html>
  <head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<meta charset="utf-8" />
	<title>LC Cargo</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Jura&amp;subset=all">
 <!--ADMIN REQUIREMENTS-->   
	  <% include generals/ultraAdmin.ejs %>
	
    
	        <script src="/cod/js/common.js"></script>
	        <script src="/cod/js/moment.js"></script>
        
	        <!-- QR CODE GENERATOR -->
	 
    
	        <script src="/cod/js/jquery-1.11.2.min.js"></script>
	        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css" />
	        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
	        <script src="http://yui.yahooapis.com/3.6.0/build/yui/yui-min.js"></script>
	        <script src="//www.parsecdn.com/js/parse-1.4.2.min.js"></script>
	
    <style>


	#geocomplete { width: 200px}

	.map_canvas { 
	  width: 600px; 
	  height: 400px; 
	  margin: 10px 20px 10px 0;
	  
	}

	#multiple li { 
	  cursor: pointer; 
	  text-decoration: underline; 
	}
	</style>
  </head>
  <body>
        <!-- START CONTAINER -->
        <div class="page-container row-fluid">

            <!-- SIDEBAR - START -->
            <div class="page-sidebar " style="top:-55px; height:110%;">


                <!-- MAIN MENU - START -->
                <div class="page-sidebar-wrapper" id="main-menu-wrapper" style="top:55px;"> 
                    <ul class='wraplist'>
						
                        <li class=""> 
                            <a href="javascript:;">
                                <i class="fa fa-sliders"></i>
                                <span class="title">Subscribe</span>
                                
                            </a>
                        </li>	
                        <li class=""> 
                            <a href="index.html">
                                <i class="fa fa-dashboard"></i>
                                <span class="title">Overview</span>
                            </a>
                        </li>					   
                        <li class=""> 
                            <a href="javascript:;">
                                <i class="fa fa-suitcase"></i>
                                <span class="title">Features</span>
                                <span class="arrow "></span>
                            </a>
                            <ul class="sub-menu" >
                                <li>
                                    <a class="" href="ui-typography.html">Typography</a>
                                </li>
                                <li>
                                    <a class="" href="ui-accordion.html">Tabs & Accordions</a>
                                </li>
                                <li>
                                    <a class="" href="ui-progress.html">Progress Bars</a>
                                </li>
                                <li>
                                    <a class="" href="ui-icons.html">Icons</a>
                                </li>
                                <li>
                                    <a class="" href="ui-buttons.html">Buttons</a>
                                </li>
                                <li>
                                    <a class="" href="ui-modals.html">Modals</a>
                                </li>
                                <li>
                                    <a class="" href="ui-notifications.html">Alert & Notifications</a>
                                </li>
                                <li>
                                    <a class="" href="ui-tooltips.html">Tooltips & Popovers</a>
                                </li>
                                <li>
                                    <a class="" href="ui-sortable.html">Sortable Group</a>
                                </li>
                                <li>
                                    <a class="" href="ui-navbars.html">Navbars & Dropdowns</a>
                                </li>
                                <li>
                                    <a class="" href="ui-extra.html">Other Elements</a>
                                </li>
                                <li>
                                    <a class="" href="ui-carousel.html">Carousel Slider</a>
                                </li>
                                <li>
                                    <a class="" href="ui-tree.html">Tree</a>
                                </li>
                                <li>
                                    <a class="" href="ui-panels.html">Draggable Panels</a>
                                </li>
                                <li>
                                    <a class="" href="ui-grids.html">Grids</a>
                                </li>
                                <li>
                                    <a class="" href="ui-tiles.html">Tile Widgets</a>
                                </li>
                            </ul>
                        </li>
                     
                        <li class=""> 
                            <a href="javascript:;">
                                <i class="fa fa-gift"></i>
                                <span class="title">Reviews</span>
                            </a>
                        </li>
						
                        <li class=""> 
                            <a href="javascript:;">
                                <i class="fa fa-envelope"></i>
                                <span class="title">Contact</span>
                            </a>
                        </li>
                
                    </ul>

                </div>
                <!-- MAIN MENU - END -->



                <div class="project-info">

             

                </div>



            </div>
            <!--  SIDEBAR - END -->
            <!-- START CONTENT -->
            <section id="main-content" class=" ">
				
				
				
				
                <section class="wrapper" style='margin-top:0px;display:inline-block;width:100%;padding:15px 0 0 15px;'>

                    <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
                        <div class="page-title">

                            <div class="pull-left">
                            </div>

                        </div>
                    </div>
                    <div class="clearfix"></div>


                    <div class="col-lg-12">
                        <section class="box ">
                            <header class="panel_header" style="background:rgba(50, 50, 58, 1.0);">
                                <h2 class="title pull-left" style="color:white;">Subscription</h2>
                                <div class="actions panel_actions pull-right">
                          
                               
                                    
                                </div>
                            </header>
                            <div class="content-body">    <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">

                                        <form id="commentForm">

                                            <div id="pills"class='wizardpills' >
                                                <ul class="form-wizard">
                                                    <li><a href="#pills-tab1" data-toggle="tab"><span>Basic</span></a></li>
                                                    <li><a href="#pills-tab2" data-toggle="tab"><span>Location</span></a></li>
                                                    <li><a href="#pills-tab3" data-toggle="tab"><span>Contact</span></a></li>
                                                    <li><a href="#pills-tab4" data-toggle="tab"><span>Settings</span></a></li>
                                                    <li><a href="#pills-tab5" data-toggle="tab"><span>Portfolio</span></a></li>
                                                </ul>
                                                <div id="bar" class="progress active">
                                                    <div class="progress-bar progress-bar-primary " role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
                                                </div>
                                                <div class="tab-content">
                                                    <div class="tab-pane" id="pills-tab1">

                                                        <h4>Basic Information</h4><br>
                                                        <div class="form-group">
                                                            <label class="form-label" for="field-1">Full Name</label>
                                                            <div class="controls">
                                                                <input type="text" placeholder="Full Name" class="form-control" name="txtFullName" id="txtFullName">
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="form-label" for="field-1">Email</label>
                                                            <div class="controls">
                                                                <input type="text" placeholder="Email" class="form-control" name="txtEmail" id="txtEmail">
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="form-label" for="field-1">Phone</label>
                                                            <div class="controls">
                                                                <input type="text" placeholder="Phone" class="form-control" name="txtPhone" id="txtPhone">
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="tab-pane" id="pills-tab2">
                                                        <h4>Location</h4><br>
				
													    <form>
													   <input id="geocomplete" type="text" placeholder="Type in an address" size="90"/>
													   <input id="find" type="button" value="find" />
													    </form>

													    <div class="map_canvas" ></div>

													    <pre id="logger">Log:</pre>
													   
                                                    </div>
													
													
                                                    <div class="tab-pane" id="pills-tab3">
                                                        <h4>Contact Information</h4><br>
                                                        <p>Form goes here</p>
                                                    </div>
                                                    <div class="tab-pane" id="pills-tab4">
                                                        <h4>Settings Information</h4><br>
                                                        <p>Form goes here</p>
                                                    </div>
                                                    <div class="tab-pane" id="pills-tab5">
                                                        <h4>Portfolio Information</h4><br>
                                                        <p>Form goes here</p>
                                                    </div>

                                                    <div class="clearfix"></div>

                                                    <ul class="pager wizard">
                                                        <li class="previous first" style="display:none;"><a href="javascript:;">First</a></li>
                                                        <li class="previous"><a href="javascript:;">Previous</a></li>
                                                        <li class="next last" style="display:none;"><a href="javascript:;">Last</a></li>
                                                        <li class="next"><a href="javascript:;">Next</a></li>
                                                        <li class="finish"><a href="javascript:;">Finish</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </section></div>

                </section>
            </section>
            <!-- END CONTENT -->
   		 <script src="assets/js/jquery-1.11.2.min.js" type="text/javascript"></script> 
            <script src="assets/js/jquery.easing.min.js" type="text/javascript"></script>
    <%include generals/endFiles.ejs%>

    <!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START --> 
    <script src="assets/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script> <script src="assets/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js" type="text/javascript"></script> <script src="assets/js/form-validation.js" type="text/javascript"></script> <!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END -->
    
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
    <script src="cod/js/jquery.geocomplete.js"></script>
    
    <script>
      $(function(){
        
        var options = {
          map: ".map_canvas"
        };
        
        $("#geocomplete").geocomplete(options)
          .bind("geocode:result", function(event, result){
            $.log("Result: " + result.formatted_address);
          })
          .bind("geocode:error", function(event, status){
            $.log("ERROR: " + status);
          })
          .bind("geocode:multiple", function(event, results){
            $.log("Multiple: " + results.length + " results found");
          });
        
        $("#find").click(function(){
          $("#geocomplete").trigger("geocode");
        });
        
        $("#examples a").click(function(){
          $("#geocomplete").val($(this).text()).trigger("geocode");
          return false;
        });
        
      });
	  
	  $.log = function(message){
	    var $logger = $("#logger");
	    $logger.html($logger.html() + "\n * " + message );
	  }
	  
    </script>
  </body>
</html>

