
.cont-55 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(0,0,0,0.500);
}
@media (max-width:959px) {
.cont-55 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(0,0,0,0.500);
}
}

.cont-121 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(0,0,0,0.500);
}
@media (max-width:959px) {
.cont-121 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(0,0,0,0.500);
}
}

.cont-180 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(0,0,0,0.500);
}
@media (max-width:959px) {
.cont-180 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(0,0,0,0.500);
}
}

.cont-224 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(128,128,128,0.166);
}
.button {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(72,165,158,0.806);
}
.button-2 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(212,77,75,0.791);
}
@media (max-width:959px) {
.cont-224 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(128,128,128,0.166);
}
.button {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(72,165,158,0.806);
}
.button-2 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(212,77,75,0.791);
}
}

.button-3 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(72,165,158,0.806);
}
.button-4 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(212,77,75,0.791);
}
@media (max-width:959px) {
.button-3 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(72,165,158,0.806);
}
.button-4 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(212,77,75,0.791);
}
}

