				
<div id="warehouses_content">
                
	  <fieldset class="container">
	  			 		
	  <div ng-controller="MyController" class="my-controller">
	
		  <div class="pull-right"></div>
	 
	    <div class="row">
	      <div class="col-lg-12 col-md-12 container">
	          <div class="row">
				  
				
	           <div class="col-md-6 col-xs-6" style="margin-top:8px;">
						<table style="display:inline;">
							<tr>
							
								<th style="text-align: center;">Warehouse</th>
								<th style="text-align: center;"><label for="filterby" class="pfont">By:</label></th>
								<th></th>
								<th style="text-align: center;"><label class="pfont">Date:</label></th>
							
							</tr>
							<tr>
							
		           <td style="padding: 5px;"> 
                    <select  id="warehousefilter" name="warehousefilter">
                        <option value="All">All</option>
                    </select></td>
					
					
						  <td style="padding: 8px;">
		  	       
		  	               <select  id="filterby" name="filterby">
		  					   <option value="All">All</option>
		  	                   <option value="Consignee">Client</option>
		  	                   <option value="Shipper">Shipper</option>
		  	                   <option value="ReceiptNum">Receipt #</option>
		  	                   <option value="Date">Date</option>
		  	                   <option value="Destination">Destination</option>
                       
		  	               </select>
					   </td>
						   
						   <td style="padding: 5px;"> 
		  				   <!-- IF ALL OR DATE SELECTED THIS SEARCH INPUT IS NOT USE-->
		  				   <input type="hidden" placeholder="Search"  id="searchtext" name="searchtext">
					   </td>
					
					<td style="padding: 8px;">
	  				  
	  				   <select id="filterdate" name="filterdate">
	  					   <option value="">All</option>
	  					   <option value="Today">Today</option>
	  					   <option value="Yesterday">Yesterday</option>
	  					   <option value="This week">This week</option>
	  					   <option value="This month">This month</option>
	  					   <option value="Last month">Last month</option>	
	  					   <option value="Current year">Current Year</option>
	  				   </select>
	  	               
                    
				   </td>
				
				 <td style="padding: 8px;">
				  <button id="btn_search" class="pure-button pure-button-primary">Search</button>
				</td>
				</tr></table>
			
			          
			          

              <div id="shipoptions" style="display:none">
				  <button id="btn_back"><b>Back</b></button>
                  <a class="pure-button pure-button-primary" id="btn_accept" href="#openModal">Accept</a></input>
              </div>
			  
	           </div>
			   
	
	      
	          </div>
	          
	          <div class="panel">
	            <div class="panel-body">

	              <ul id="list">
                                 
                        <%include dynamicTable.ejs %>
                  
	              </ul>
	            </div>
	          </div>
	         
	        </div>
	         
	      </div>
	    </div>
	  </fieldset>
    
</div>
    
<script>


        $("#warehousefilter").change(function(){
            update_table();
        });
        
        $("#btn_search").click(function(){
            update_table();
        });  
            
        $("#filterdate").change(function(){
            update_table();
        });            

	  	$("#filterby").change(function(){
                filterby_changed("filterby", "searchtext", "filterdate", update_table); 
            });
</script>
		
		
		
		
	  
