<!DOCTYPE html>
<html>
    <head>
		
       <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
       <meta charset="utf-8" />
       <title>LC Cargo</title>
       <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
       <meta content="" name="description" />
       <meta content="" name="author" />
      
	   <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=VT323">
	
        <!--ADMIN REQUIREMENTS-->   
        <% include ../../generals/ultraAdmin.ejs %>
        <script src="/cod/js/common.js"></script>
        <script src="/cod/js/moment.js"></script>
        <!-- QR CODE GENERATOR -->
        <script src="/cod/js/qrcode/qrcode.js"></script>
        <script src="/cod/js/jquery-1.11.2.min.js"></script>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
        <script src="http://yui.yahooapis.com/3.6.0/build/yui/yui-min.js"></script>
        <script src="//www.parsecdn.com/js/parse-1.4.2.min.js"></script>
        <link rel="stylesheet" type="text/css" href="assets/css/print.css" media="print" />
        <link rel="stylesheet" href="cod/css/styleWareHouse.css">

    </head>
    <!-- END HEAD -->
    <!-- BEGIN BODY -->
    <body>
		
		<div class="screen">
        <!--START TOPBAR-->
        <% include ../../generals/topbar.ejs %>
        <!-- START CONTAINER -->
        <div class="page-container row-fluid">
        <!-- SIDEBAR - START -->
        <!--  SIDEBAR - END -->	
        <!-- START CONTENT -->
        <section class="wrapper" style='display:inline-block;width:100%;'>
        <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
        <div class="page-title">
        <% include labelsMenu.ejs %>
        <h1 class="title" style="font-family: 'VT323', serif; font-size:50px; padding-left:13px;">Repack List</h1>
        <div id="content">
        <%include labels_partitions/table.ejs %>
        </div>   
        </div>
        </div>
        </section>
            <!-- END CONTENT -->
            </div><!-- END CONTAINER -->
		</div>
		
		
		
		<!-- MODAL TO CLASSIFY -->
        <% include labels_partitions/modalclassify.ejs %>
		     
   		<!--MODAL TO TRANSFER TO OTHER WAREHOUSE-->
        <% include labels_partitions/modaltransfer.ejs %>
		
		<!--MODAL TO DELETE LABELS-->
        <% include labels_partitions/modaldeletelabels.ejs %>
		
		
		
	<!--MODAL PARA MOSTAR LABEL-->
    <div id="openReceiptLog" class="modalDialog">
      <div>
       <a href="#close" title="Close" class="closeB">X</a>
          <table class="table table-bordered" id="blueRow">
		  <tr>
		  <th>Last update by User</th>
		  <th>Date</th>
		  </tr>
		  <tr>
		  <td>Fulanito</td>
		  <td>Garcia</td>
		  </tr>
		  </table>
        </div>
     </div>
	
	
	<!--MODAL PARA MOSTAR LABEL-->
    <div id="openEmail" class="modalDialog">
      <div>
          <a href="#close" title="Close" class="closeB">X</a> 
		    <form>
			  <b>Sending Receipt #</b></br></br>
			  <label>to:</label>
			  <select name="emailTo" id="emailTo" class="form-group">
			  <option value="Store">Store</option>
			  <option value="Client">Client</option>
			  <option value="Other">Other</option>
			  </select>
			  <input type="text" id="otherEmail" style="display:none;" placeholder="Email address" class="form-group"></br>
			  <label>Message:</label></br>
			  <textarea style="width:50%;" class="form-group"></textarea></br></br>
			  <input type="submit" class="pure-button pure-button-primary" value="Send">
			</form>
	
					 <script>
					 $('#emailTo').on('change',function(){
					     if( $(this).val()==="Other"){
					     $("#otherEmail").show()
					     }
					     else{
					     $("#otherEmail").hide()
					     }
					 });
					 </script>		  
           </div>
        </div>

	<!--MODAL PARA MOSTAR UNPACK-->
    <div id="openUnpack" class="modalDialog">
      <div>
            <a href="#close" title="Close" class="closeB">X</a>
            <a id="btn_unpack" class="pure-button pure-button-primary" href="#close" style="background:#E08566;">
                <b>UNPACK !</b>
            </a>	 
        </div>
    </div>


<!-- DETALLE DE BOXES EN RECEIPT -->
<div id="openReceiptBoxes" class="modalDialog">
    <div>
        <a href="#close" title="Close" class="closeB">X</a>

        <div id="receipt_boxes">
            <h2 class="title">Boxes contained in receipt# <font id="receiptBoxes"></font></h2>
            <div style="overflow:scroll; height:400px; vertical-align: top;">
                <table id="boxes_table" name="boxes_table" class="table table-bordered">
                    <thead>
                        <tr>
                            <td>
                                Status
                            </td>
                            <td>
                                Length
                            </td>
                            <td>
                                Width
                            </td>
                            <td>
                                Height
                            </td>
                            <td>
                                Box Id
                            </td>
                            <td>
                                Weight
                            </td>
                            <td>
                                Mode
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <a href="#close" id="btn_doneboxes" class="pure-button pure-button-primary">Close</a>
            <!--<a>Select all</a>-->
        </div>
    </div>
</div>	
	

<!-- DETALLE DE BOXES EN RECEIPT DE REPACK-->
<div id="openReceiptBoxesRepack" class="modalDialog">
    <div>
        <a href="#close" title="Close" class="closeB">X</a>

        <div id="receipt_boxes">
            <h2 class="title">Boxes contained in receipt# <font id="receiptBoxes"></font></h2>
            <div style="overflow:scroll; height:400px; vertical-align: top;">
                <table id="boxes_table" name="boxes_table" class="table table-bordered">
                    <thead>
                        <tr>
                            <td>
                                Status
                            </td>
                            <td>
                                Length
                            </td>
                            <td>
                                Width
                            </td>
                            <td>
                                Height
                            </td>
                            <td>
                                Box Id
                            </td>
                            <td>
                                RPrice
                            </td>
                            <td>
                                Mode
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <a href="#close" id="btn_doneboxes" class="pure-button pure-button-primary">Close</a>
            <!--<a>Select all</a>-->
        </div>
    </div>
</div>	
    

    <!--MODAL PARA MOSTAR LABEL-->
    <div id="openModalB" class="modalDialogB">
        <div>
          <a href="#close" title="Close" class="closeB">X</a>
            <div id="receipt_edit">
                
            </div>
        </div>
    </div>
					
			
    </div>
    <!-- LOAD FILES AT PAGE END FOR FASTER LOADING -->

    <%include ../../generals/endFiles.ejs%>

<script>
	
	
$(".pop").popover({ trigger: "manual" , html: true, animation:false})
    .on("mouseenter", function () {
        var _this = this;
        $(this).popover("show");
        $(".popover").on("mouseleave", function () {
            $(_this).popover('hide');
        });
    }).on("mouseleave", function () {
        var _this = this;
        setTimeout(function () {
            if (!$(".popover:hover").length) {
                $(_this).popover("hide");
            }
        }, 300);
});


    Parse.initialize("XEPryFHrd5Tztu45du5Z3kpqxDsweaP1Q0lt8JOb", "MDhb1hBngr2tx2v9TjyzoUhMcOFeWGJ56TWvChqi");
        
    /* GLOBAL USER */
    var user;

    /* OBTENCION Y ALMACENAMIENTO DEL CURRENT USER PARA USARSE CLIENTSIDE */
    var query = new Parse.Query("User");
    
    query.descending('createdAt');
    query.include("Company");
    
    query.get("<%= user.id%>", {
        success: 
            function(object)
            {
                /* SAVE USER FOR FUTURE OPERATIONS */
                user = object;
                
                
                /* FILL THE WAREHOUSES SELECT FILTER */
                var query = new Parse.Query("Cellars");
                
                query.equalTo("Company", {__type: "Pointer", className: "Companies", objectId: user.get("Company").id} );
                query.descending('createdAt');
                
                query.find({
                    success: 
                        function(results)
                        {
                            for(i in results)
                            {
                                
                                wareselect = document.getElementById("warehousefilter");
                                wareselect.options[wareselect.options.length] = new Option(results[i].get("Name"), results[i].id);
                                
                                /* too fill the warehouses transfer list */
                                waretransfer = document.getElementById("waretransfer");
                                waretransfer.options[waretransfer.options.length] = new Option(results[i].get("Name"), results[i].id);
                                
                            }
                            
                        }
                    });
                
                
                
            }
        });
        
    function update_table()
    {
        /*alert(JSON.stringify(user) );*/
            
        if($("#warehousefilter").val() == "All")
            conditions = {containedIn:{"Status":["Repack","Received","NotProcessed"]},
                            equalTo:{"Company":{__type: "Pointer", className: "Companies", objectId: user.get("Company").id}}};
        else
            conditions = {containedIn:{"Status":["Repack","Received","NotProcessed"]}, 
                            equalTo:
                            {
                                "Warehouse":{__type: "Pointer", className: "Cellars", objectId: $("#warehousefilter").val()},
                                "Company":{__type: "Pointer", className: "Companies", objectId: user.get("Company").id} 
                            }
                        };
           
           
        InsertTable({
                cols:   /*Columnas definidas FIELD:TITLE or FIELD:{FIELDNEEDED:FIELDTITLE}*/
                     {
                        
                        "ReceiptNum":"",
                        "Consignee":{"Name":"", "Country":"Country"}, /*This is the sintax for return fields of pointers showed on table*/
                        "Shipper":{"Name":""}, /*This is the sintax for return fields of pointers showed on table*/
                        "Invoice":"",
                        "ReceiptDate":$("#DateSelect").val(),
                        "Destination":"",
                        "Transport":"",
                        "Warehouse":{"Name":""},
                        "Shipment":"",
                        "Status":"",
                        "TotalBoxes":"",
                        "PackedBoxes":"",
                        "objectId":""
                    },
                    
                /* AL PASAR EL PARAMETRO COLLECTION INDICAMOS QUE NECESITAMOS BUSQUEDA CON LISTA DE RESULTADOS */
                collection: "Receipts", /* COLLECCION PRINCIPAL */
                
                /* CONDICIONES */
                conditions: filter_conditions_with_dict({
                                            conditions:conditions
                                            }),
                
                /*BUSQUEDA DE SEARCH TIPO LIKE*/
                like: filter_like(),
                
                document: "Staff/Warehouses/labels_partitions/dynamictable",
                itemid: "ware_table"
            });        
    }


    $("#btn_closeclassifydialog").click(
            function(){
                $("#classifyDiv").css("display", "");
                $("#shipoptions").css("display", "none");
                $(".checkship").css("display", "none");
                $("#classifycolumn").css("display", "none");
                $("#deleteDiv").css("display", "");
        
            });



    
    $("#btn_save").click(
    function()
    {   
        alert("SAVE?");
        return;
    });

    $("#btn_unpack").click(
    function()
    {           
        /* DELETE THE REPACK */
        var query = new Parse.Query("Receipts");
        query.get(unpacking, {success:function(receipt){
            
                receipt.destroy();
                
                /* FIND THE BOXES THAT WAS REPACKED IN THIS REPACK */
                var query = new Parse.Query("Boxes");
                query.include("Receipt");
                query.equalTo("PackedIn", {__type: "Pointer", className: "Receipts", objectId: unpacking});
                
                query.find({success:function(results){
                                                            
                        /* MARK THE BOXES AS RECEIVED */
                        for(i in results)
                        {
                            results[i].set("Status", "Received");
                        }
                        
                        Parse.Object.saveAll(results, {success: function(results){
                                /*  UPDATE PACKEDBOXES OF ORIGINAL RECEIPTS */                            
                                for(i in results)
                                {
                                    var q = new Parse.Query("Boxes");
                                    q.equalTo("Receipt", {__type: "Pointer", className: "Receipts", objectId: results[i].get("Receipt").id});
                                    q.equalTo("Status", "Received");
                                    q.include("Receipt");
                                    
                                    q.find({success: function(results2){
                                            /*alert(results.length);*/
                                            
                                            /* check here, maybe is not correct loop all items */
                                            for(i in results2)
                                            {
                                                results2[i].get("Receipt").set("PackedBoxes", results2[i].get("Receipt").get("TotalBoxes")-results2.length);
                                                results2[i].get("Receipt").save();
                                            }
                                        }});
                                }
                            
                            }});
                    }});

            }});
        
        
            
        
        return;
    });



    /* CODE FOR THE LABELFORM */
    $("#ReceiptDate").datepicker();
                                        



</script>
	
    </div>
        <!-- modal end -->
    </body>
</html>
