
@media print {
  body * {
    visibility: hidden;
  }
  
  body {
  
      font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  }

  
  #section-to-print, #section-to-print * {
    visibility: visible;
	height: auto;
	     page-break-after: auto;
	
  }
  #section-to-print {
    position: absolute;
	width:100%;
    left: 0;
    top: 0;
  }
  
  
  .modalDialogR {
  	position: absolute;
	height:auto;
  	font-family: Arial, Helvetica, sans-serif;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	background: rgba(0,0,0,0.8);
  	z-index: 99999;
  	opacity:0;
  	-webkit-transition: opacity 400ms ease-in;
  	-moz-transition: opacity 400ms ease-in;
  	transition: opacity 400ms ease-in;
  	pointer-events: none;
  }
  


  .invoice-head {
      width: 100%;
      background-color: #f5f5f5;
      padding: 0px 0px;
  }
 
}