
.cont-76 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(181,137,0,0.318);
}
.cont-79 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(181,137,0,0.318);
}
.cont-82 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(181,137,0,0.318);
}
.cont-85 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(181,137,0,0.318);
}
