
<!DOCTYPE html>
<html ng-app="myApp">
    <head>
		
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <meta charset="utf-8" />
        <title>LC Cargo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta content="" name="description" />
        <meta content="" name="author" />
       

        <!--ADMIN REQUIREMENTS-->   
        <% include ../../generals/ultraAdmin.ejs %>
               
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=VT323">
        <script src="/cod/js/moment.js"></script>
        <script src="/cod/js/common.js"></script>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <link rel="stylesheet" href="/resources/demos/style.css">
        
        <script src="//www.parsecdn.com/js/parse-1.4.2.min.js"></script>
        
               
    </head>
    <!-- END HEAD -->

    <!-- BEGIN BODY -->
    <body class=" ">
		<!--START TOPBAR-->
		 <% include ../../generals/topbar.ejs %>
		 
        <!-- START CONTAINER -->
        <div class="page-container row-fluid">
            <!-- SIDEBAR - START -->
      <!-- START CONTENT -->
      <section class="wrapper" style='display:inline-block;width:100%;'>
      <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
      <div class="page-title">
                            <% include agenciesMenu.ejs%>
                            <h1 class="title" style="font-family: 'VT323', serif; font-size:50px; padding-left:13px;">Stores - Inactive</h1>
			
                            <% include inactives_partitions/table.ejs %>

              </div>
          </div>
      </div>
  </section>
  
  <!-- END CONTENT -->
 
    </div><!-- END CONTAINER -->
  </div>
           


            <!--MODAL-->
		    <div id="openModal" class="modalDialog">
		    	<div>
		    		<a href="#close" title="Close" class="close">X</a>
		
                    <img src="assets/images/box.png" width="89" height="89" alt="Client" style="margin-top:5px;">
                    <h2>Activate agency's account.</h2>

                    <table style="margin-top:21px;">
       
                        <tr>
                            <td><b>Agency:</b></td>
                            <td style="padding:0 21px 0 2px;" id="storeName">All Fashion Store</td>
                            <td style="padding:0 1px 0 2px;"><b>Email:</b></td>
                            <td style="padding-top:5px;" id="storeEmail"> fashion@hotmail.com</td>
                        </tr>
				   
                        <tr>
                            <td><b>Tel:</b></td>
                            <td style="padding-top:5px;" id="storeTel"> (11)323-134-1243</td>	 

                            <td><b>Site:</b></td>
                            <td style="padding-top:5px;" id="storeWeb"> www.estossonlosmejores.com</td>
		          
                        </tr>
					  
                        <tr>
                            <td><b>Address:</b></td>
                            <td style="padding-top:5px;" id="storeAddr"> 1214 Downtown CA</td>
                            <!--
                            <td><b>City:</b></td>
                            <td style="padding-top:5px;"> Los Angeles</td>-->

                        </tr>
                        <!--
                        <tr>
                            <td><b>State:</b></td>
                            <td style="padding-top:5px;"> California</td>
                            <td><b>ZIP:</b></td>
                            <td style="padding-top:5px;">900323</td>
                        </tr>
							  
                        <tr>
                            <td ><b>Notes:</b></td>
                            <td style="padding-top:20px;">This is an example of how this information will look and how a long note will look</td>

                        </tr>
                        -->
                    </table>
                    
		   	</br>
		       <form class="form-inline" method="POST" action="/activateAgency">
                    <!--
		           <div class="form-group">
		               <label class="sr-only" for="exampleInputEmail3">Email address</label>
		               <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Enter email">
		           </div>
		           <div class="form-group">
		               <label class="sr-only" for="exampleInputPassword3">Password</label>
		               <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password"> 
                    -->
                    <input type="hidden" name="agencyID" id="agencyID">
		           <button type="submit" class="btn btn-primary">Activate</button>
		           </div>
		       </form>
		   	</br>
		   	</br>
		    </div>
			


      


        </div><!-- END CONTAINER -->
        <!-- LOAD FILES AT PAGE END FOR FASTER LOADING -->
        <%include ../../generals/endFiles.ejs%>

        <!-- modal end -->
    
<script>

    Parse.initialize("XEPryFHrd5Tztu45du5Z3kpqxDsweaP1Q0lt8JOb", "MDhb1hBngr2tx2v9TjyzoUhMcOFeWGJ56TWvChqi");

    /* GLOBAL USER */
    var user;

    /* OBTENCION Y ALMACENAMIENTO DEL CURRENT USER PARA USARSE CLIENTSIDE */
    var query = new Parse.Query("User");
    
    query.descending('createdAt');
    query.include("Company");
    
    query.get("<%= user.id%>", {
        success: 
            function(object)
            {
                
                /* SAVE USER FOR FUTURE OPERATIONS */
                user = object;
            }
        });

</script>
        
    </body>
	
</html>
