               <div class="content-body"> <div class="row">
                       <div class="col-md-12 col-sm-12 col-xs-12">


                           <div class="form-group">
                               <label class="form-label" for="field-1">Company Name:</label>
                               <div class="controls">
                                   <input type="text" class="form-control" maxlength="55" id="ag_name" name="agName">
                               </div>
                           </div>

                           <div class="form-group">
                                          
							  		
		
							  			 <div id="statesDiv">
						   		         Select Country:
						   		          <select id="country" name="country" style="width:98%;"></select>
						   		          Select State:
						   		          <select name="state" id="state" style="width:98%;"></select>
						   		          <script language="javascript">
						   		              populateCountries("country", "state");
						   		              populateCountries("country2");
						   		          </script>
										  </div>
										  
							  			<div id="citiesDiv" style="float:left; width:89%; display:none;">
							  				 Select City:
							  			  <input type="text" id="city" placeholder="Type a city">
							  			</div>
						   
                           <div class="form-group">
                               <label class="form-label" for="field-1">ZIP CODE:</label>
                               <div class="controls">
                                   <input type="text" class="form-control" maxlength="55" id="ag_Zip" name="agZip">
                               </div>
                           </div>

                         

                           <div class="form-group">
                               <label class="form-label" for="field-1">Address / Dirección:</label>
                               <div class="controls">
                                   <input type="text" class="form-control" maxlength="200" id="ag_Address" name="agAddress">
   								<input type="text" class="form-control" maxlength="200" id="ag_Address2" name="agAddress2">
                               </div>
                           </div>
						   
                           <div class="form-group">
                               <label class="form-label" for="field-1">PoBox</label>
                               <div class="controls">
   								<select  class="multi-select" id="ag_pobox" name="agPoBox">
   					            <option value="negative">No</option>
   					            <option value="positive">Yes</option>
   					            </select>
                               </div>
                           </div>
						
                           <div class="form-group">
                               <label class="form-label" for="field-1">PoBox ID:</label>
                               <div class="controls">
                                   <input type="text" class="form-control" maxlength="10" id="ag_poboxId" name="agPoBoxId">
                               </div>
                           </div>
						   
                           <div class="form-group">
                               <label class="form-label" for="field-1">Language / Idioma:</label>
                               <div class="controls">
   								<select  class="multi-select" id="ag_Language" name="agLanguage">
   					            <option value="Spanish">Spanish</option>
   					            <option value="English">English</option>
   					            </select>
                               </div>
                           </div>
						
                           <div class="form-group">
                               <label class="form-label" for="field-1">ID1:</label>
                               <div class="controls">
                                   <input type="text" class="form-control" maxlength="55" id="ag_ID1" name="agID1">
                               </div>
                           </div>
						   
                           <div class="form-group">
                               <label class="form-label" for="field-1">ID2:</label>
                               <div class="controls">
                                   <input type="text" class="form-control" maxlength="55" id="ag_ID2" name="agID2">
                               </div>
                           </div>
						
						
                           <div class="form-group">
                               <label class="form-label" for="field-1">Telephone / Teléfono:</label>
                               <div class="controls">
                                   <input type="text" class="form-control" maxlength="21" id="ag_Tel" name="agTel">
                               </div>
                           </div>
						
                           
						   
                           <div class="form-group">
                               <label class="form-label" for="field-1">Website:</label>
                               <div class="controls">
                                   <input type="text" class="form-control" maxlength="55" id="ag_website" name="agWebsite">
                               </div>
                           </div>
						
                           <div class="form-group">
                               <label class="form-label" for="field-1">Notes / Notas:</label>
                               <div class="controls">
                                   <input type="textarea" class="form-control" maxlength="55" id="ag_Notes" name="agNotes">
                               </div>
                           </div>
						   <fieldset style="background:#E0E6ED;">
						   <label><b>CREATE ACCOUNT</b>
                           <div class="form-group">
                               <label class="form-label" for="field-1"><b>Email:</b></label>
                               <div class="controls">
                                   <input type="text" class="form-control" maxlength="55" id="ag_Email" name="agEmail">
                               </div>
                           </div>
						   
						   <div class="form-group">
                               <label class="form-label" for="field-1"><b>Password:</b></label>
                               <div class="controls">
                                   <input type="password" class="form-control" maxlength="55" id="ag_password" name="agEmail">
                               </div>
                           </div>
						   
						   <div class="form-group">
                               <label class="form-label" for="field-1"><b>Re-type Password:</b></label>
                               <div class="controls">
                                   <input type="password" class="form-control" maxlength="55" id="ag_password" name="agEmail">
                               </div>
                           </div>
					  </fieldset>
                          
						
                           <div class="form-group">
   			   			 <label for="cb" class="form-label">
   			   			 <input id="cb" type="checkbox">I've read the terms and conditions.
   			   			            </label>
                           </div>
						
   						 <div class="form-group">
   						 <button type="submit"  style="length:50px;">Submit</button>
                          </div>

                       </div>
                   </div>
               </div>
            </section></div>
			
		