<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <title>LC Cargo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <% include ../generals/ultraAdmin.ejs %>
    <!--ADMIN REQUIREMENTS-->   

	   <script src="/cod/js/moment.js"></script>
	   <script src="/cod/js/common.js"></script>
	   <script src="/cod/js/jquery-1.11.2.min.js"></script>
	   <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css"/>
	   <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
	    <script src="//www.parsecdn.com/js/parse-1.4.2.min.js"></script>
  	  	    <script>
  
    	 Parse.initialize("1MlFlpCslJWzRjZtFfSeUWDRXAS2zbszG2PuQ5Dd", "dREeQXyg3Zn7C8GG1eELLpaaBsGtI6A7BAVwA2sU");
  	  function updateClientInfo(){
		  var clientName = document.getElementById("clientName");
  		  Parse.Cloud.run('updateClientInfo', { clientName: clientName}, {
  		    success: function() {
  		  alert("success");
  		    },
  		    error: function() {
				alert("Error, please refresh the website and try again! Sorry! :(");
  		    }
  		  });
  	  }
	  
	  
	  	  
  	  </script>
	 
	   
    </head>
    <!-- END HEAD -->
    <!-- BEGIN BODY -->
    <body>
 		<!--START TOPBAR-->
 		 
		<% include generals/topbar.ejs %>
        <!-- START CONTAINER -->
        <div class="page-container row-fluid">
		<% include generals/sideBar.ejs %>
        <!-- SIDEBAR - START -->
 		
         <!--  SIDEBAR - END -->	
	     <!-- START CONTENT -->
         <div style="position:relative; left:144px;">
	     <section class="wrapper" style='margin-top:60px;display:inline-block;width:100%;'>

	                <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
	                <div class="page-title">
	                <div class="pull-left">
 			
	              <div style="position:relative; left:144px;">  <h1 class="title">Personal Information</h1></div>
	  		       <div style="margin-left:30%; width:500px;">
			  
	  	<form name="clientEmails" action="/">
	       <div class="content-body">    <div class="row">
	               <div class="col-md-12 col-sm-12 col-xs-12">


	                   <div class="form-group">
	                       <label class="form-label" for="field-1">Full Name:</label>
	                       <div class="controls">
	                           <input type="text" class="form-control" maxlength="55" id="clientName" name="clientName" value="<%= client.get('Name') %>" >
	                       </div>
	                   </div>

	                   <div class="form-group">
                           <label class="form-label" for="field-1">Language:</label>
                           <div class="controls">
							<select  class="multi-select" id="clientLanguage" name="clientLanguage">
				            <option value="Spanish">Spanish</option>
				            <option value="English">English</option>
				            </select>
                           </div>
	                   </div>

                  

	                   <div class="form-group">
	                       <label class="form-label" for="field-1">ID:</label>
	                       <div class="controls">
	                           <input type="text" class="form-control" maxlength="55" id="clientID1" name="clientID1" value="<%= client.get('ID1') %>">
	                       </div>
	                   </div>

	                   <div class="form-group">
	                       <label class="form-label" for="field-1">Telephone:</label>
	                       <div class="controls">
	                           <input maxlength="55" id="clientTelephone" name="clientTelephone" type="text" class="form-control"  value="<%= client.get('Telephone') %>">
	                       </div>
	                   </div>

	                   <div class="form-group">
	                       <label class="form-label" for="field-1">Email:</label>
	                       <div class="controls">
	                           <input type="text" class="form-control" maxlength="55" id="clientEmail" name="clientEmail" value="<%= client.get('Email') %>" >
	                       </div>
	                   </div>
				  
	                   
	     
	 	<div class="form-group">
	 	<input type="button" id="btn_updateInformation" style="length:50px;" value="Update Information" class="pure-button pure-button-primary" onclick="updateClientInfo()">
	    </div>

	                  </div>
	               </div>
	             </div>
	        </section>
	      </form>
	    </div>
	  		     </div>
	              </div>
	              </div>
	              </section>
	             
	              <!-- END CONTENT -->
	              </div><!-- END CONTAINER -->
	              <!-- LOAD FILES AT PAGE END FOR FASTER LOADING -->
	              <!-- modal end -->
		</div>
		
		
	              <!-- START CONTENT -->
         <div style="position:relative; left:144px; top:5px;">
	             <section class="wrapper" style='display:inline-block;width:100%;'>

	                <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
	                <div class="page-title">
	                <div class="pull-left">
 			
	              <div style="position:relative; left:144px;">  <h1 class="title">Destinations</h1></div>
	  		       <div style="margin-left:30%; width:500px;">
			  
	  	<form name="clientDestinations" action="/">
	       <div class="content-body">
			   <div class="row">
	               <div class="col-md-12 col-sm-12 col-xs-12">

	 	        <div class="form-group">
	 	        <label class="form-label" for="field-1">Destination:</label>
	 	        <div class="controls">
	 	        <input type="text" class="form-control" maxlength="200" id="clientAddress" name="clientAddress">
	 	        <input type="hidden" id="clientAlias" name="clientAlias">
	 	        <input type="hidden" id="clientAddress" name="clientAddress">
	 	        <input type="hidden" id="clientCountry" name="clientCountry">
	 	        <input type="hidden" id="clientCountryCode" name="clientCountryCode">
	 	        <input type="hidden" id="clientGeoCode" name="clientGeoCode">
	 			
	 	        </div>
	 	        </div>
				
			 	<div class="form-group">
			 	<input type="button" id="btn_registerStore" style="length:50px;" value="Update Destinations" class="pure-button pure-button-primary">
			    </div>

	  		     </div>
	              </div>
	              </div>
	              </section>
	             
	              <!-- END CONTENT -->
	              </div><!-- END CONTAINER -->
	              <!-- LOAD FILES AT PAGE END FOR FASTER LOADING -->
	              <!-- modal end -->
				  
				  
		  	       <!-- START CONTENT -->
		           <div style="position:relative; left:144px; top:5px;">
		  	          <section class="wrapper" style='display:inline-block;width:100%;'>
		  	                <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
		  	                <div class="page-title">
		  	                <div class="pull-left">
 			
		  	              <div style="position:relative; left:144px;">  <h1 class="title">Password:</h1></div>
		  	  		       <div style="margin-left:30%; width:500px;">
			  
		  	  	<form name="clientPass" action="/">
		  	       <div class="content-body">
		  			   <div class="row">
		  	               <div class="col-md-12 col-sm-12 col-xs-12">
	                   <div class="form-group">
	                       <label class="form-label" for="field-1">New Password:</label>
	                       <div class="controls">
	                           <input type="password" class="form-control" maxlength="55" id="clientPassword" name="clientPassword"  >
	                       </div>
	                   </div>
					   
	                   <div class="form-group">
	                       <label class="form-label" for="field-1">Re-type New Password:</label>
	                       <div class="controls">
	                           <input type="password" class="form-control" maxlength="55" id="clientRTPassword" name="clientRTPassword"  >
	                       </div>
	                   </div>
		  	 	     
			 	 	<div class="form-group">
			 	 	<input type="button" id="btn_registerStore" style="length:50px;" value="Change Password" class="pure-button pure-button-primary">
			 	    </div>

		  	  		     </div>
		  	              </div>
		  	              </div>
		  	              </section>
	             
		  	              <!-- END CONTENT -->
		  	              </div><!-- END CONTAINER -->
		  	              <!-- LOAD FILES AT PAGE END FOR FASTER LOADING -->
		  	              <!-- modal end -->		  
		                  </div>
		
		
		
      <%include ../generals/endFiles.ejs%>
	  
	 
	 
    </body>
</html>