<!DOCTYPE html>
<html ng-app="myApp">
    <head>
		
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <meta charset="utf-8" />
        <title>LC Cargo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta content="" name="description" />
        <meta content="" name="author" />
       
			
    <!--ADMIN REQUIREMENTS-->   
  <% include ../generals/ultraAdmin.ejs %>
      <script src="/cod/js/moment.js"></script>
    <script src="/cod/js/common.js"></script>

    <script src="/cod/js/jquery-1.11.2.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
	 </head>
	 
    <!--END HEAD-->
    <!--BEGIN BODY-->
	
    <body class=" ">
		<!--START TOPBAR-->
		 <% include generals/topbar.ejs %>
		 
        <!--START CONTAINER-->
        <div class="page-container row-fluid">
        <!--SIDEBAR-START -->
		 <% include generals/sideBar.ejs %>
        <!--SIDEBAR-END-->
			
			
            <!-- START CONTENT -->
         <div style="position:absolute; left:250px; top:3px; width:1000px;">
           <section class="wrapper" style='margin-top:89px;display:inline-block;width:100%;padding:15px 0 0 15px;'>

              <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
          
              <h1 class="title">Home</h1>
			  
			  
			</br></br></br>		 
           <table class="table" style="border:none;">
           <tr>
	       <td align="center"><a href="/client_profile"><img src="assets/images/client.png" width="123" height="103" alt="Stores"></a></td> 
	       <td align="center"><a href="/clientWarehouse"><img src="assets/images/warehouse.png" width="123" height="103" alt="Stores"></a></td> 
           <td align="center"><a href="/clientWarehouseSent"><img src="assets/images/old.png" width="123" height="103" alt="Clients"></a></td>
	       </tr>
	
	<tr>
	<td align="center"><a href="/client_profile"><font color="#1D3955">Profile</font></a></td>
	<td align="center"><a href="/clientWarehouse"><font color="#1D3955">Warehouse Receipts</font></a></td>
	<td align="center"><a href="/clientWarehouseSent"><font color="#1D3955">Records</font></a></td>	
	</tr>
		
  </table>

		   
          
              </div>
            </section>
            
            <!-- END CONTENT -->
           

      </div>


    
        <!-- LOAD FILES AT PAGE END FOR FASTER LOADING -->
<%include ../generals/endFiles.ejs%>

        <!-- modal end -->
    </body>
</html>
