<!doctype html>
<html lang="en">
    <head>
        
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <meta charset="utf-8" />
        <title>LC Cargo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta content="" name="description" />
        <meta content="" name="author" />

 <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Jura&amp;subset=all">
     <link rel="stylesheet" href="cod/css/styleWareHouse.css">

        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <link rel="stylesheet" href="/resources/demos/style.css">
        
        
        <!--ADMIN REQUIREMENTS-->   
        <% include ../../generals/ultraAdmin.ejs %>
    
        <script src="/cod/js/common.js"></script>
        
        
    </head>
<body>

<!--START TOPBAR-->
		 <% include ../generals/topbar.ejs %>
		 
        <!-- START CONTAINER -->
        <div class="page-container row-fluid">
        <!-- SIDEBAR - START -->
		 <% include ../generals/sideBar.ejs %>
        <!--  SIDEBAR - END -->
			
			
            <!-- START CONTENT -->
           <section class="wrapper" style='margin-top:13px;display:inline-block;width:100%;padding:15px 0 0 15px;'>
            <% include partitions/agency_labelForm.ejs %>
            </section>
       
            <!-- END CONTENT -->
           
<div id="openModal" class="modalDialog">
	<div>
            <a href="#close" title="Close" class="close">X</a>
            <div id="modalmessage" style="margin-left:21%;">
                <img src="/web/img/icons/loader_grey.gif">
            </div>
	</div>
</div>
      


        </div><!-- END CONTAINER -->
        <!-- LOAD FILES AT PAGE END FOR FASTER LOADING -->
        <%include ../../generals/endFiles.ejs%>

        <!-- modal end -->




</body>
</html>
