<div id="zonestable">
    <table class="table table-bordered" id="blueRow">
        <style>
            #not:nth-child(even) {background: white}
            #not:nth-child(odd) {background: #FBFBFC}
        </style>
        
        <tr>
            <th>Zone</th>
			<th>Client</th>
            <th>Boxes</th>          
        </tr>

        <% results.forEach(function(label){%>
            <tr>
				<td><b><%= label["Zone"]%></b></td>
                <td><%= label["Consignee"]%></td>
                <td><%= label["TotalBoxes"]%></td>
            </tr>
        <% }) %> 
    </table>
</div>
