		<!--MODAL PARA MOSTAR LABEL-->
	    <div id="openModalP" class="modalDialogLabel">
			
	        <div>
				 <a href="#close" title="Close" class="closeB">X</a>
            
			<h4><b>Company Name: <div id="CompanyLabel"></div></b></h4>
			<h4><b>Destination: <div id="DestinationLabel"></div></b></h4>
			<h4><b>Receipt#: <div id="ReceiptNum"></div></b></h4>
			
			<table align="center">
				<tr>
				<th style="padding: 13px;" align="center">Weight</th>
			    <th style="padding: 13px;" align="center">Weight-Vol</th>
			    <th style="padding: 13px;" align="center">Volume</th>
				<th style="padding: 13px;" align="center">Length</th>
				<th style="padding: 13px;" align="center">Width</th>
				<th style="padding: 13px;" align="center">Height</th>
					 </tr>
					 <tr>
					 <td style="padding: 13px;" align="center" id="WeightLabel"></td>
					 <td style="padding: 13px;" align="center" id="WeightVolLabel"></td>
					 <td style="padding: 13px;" align="center" id="VolumeLabel"></td>
					 <td style="padding: 13px;" align="center" id="LengthLabel"></td>
					 <td style="padding: 13px;" align="center" id="WidthLabel"></td>
					 <td style="padding: 13px;" align="center" id="HeightLabel"></td>
				 </tr>
			 </table>			    
	        
			<h5><b>Shipper:</b></h5><div id="ShipperLabel"></div>
			<h5><b>Consignee:</b></h5><div id="ConsigneeLabel"></div>
			<h5><b>Box:</b></h5><div id="BoxLabel"></div>
			<h5><b>Zone:</b></h5><div id="ZoneLabel"></div>

			  <div style="position:relative; left:233px;  top: -206px;">
			<div id="qrcodeLabel"></div>

		</div>
	          </div> 
	        
	    </div>
