		<!--MODAL PARA MOSTAR LABEL-->
	    <div id="openModalP" class="modalDialog">
	        <div>
				 <a href="#close" title="Close" class="closeB">X</a>
            
			<h3>Company Name</h3>
			<h1>Receipt Number - Destination</h1>
			
			<table>
				<tr>
						<th>Weight</th>
						 <th>Weight-Vol</th>
						 <th>Volume</th>
						 <th>Length</th>
						 <th>Width</th>
						 <th>Height</th>
					 </tr>
					 <tr>
					 <td>100 lb</td>
					 <td>100 lb</td>
					 <td>1.00 cuft</td>
					 <td>1.00" </td>
					 <td>1.00" </td>
					 <td>1.00"</td>
				 </tr>
				 <table>			    
	        
			<h2>Shipper:</h2>Upsp mail [322]
			<h2>Consignee:</h2>Carlos Garcia
			<h2>Box:</h2> 001 / 001
			<h2>Zone</h2>:
			
		
			  
			<div id="qrcode"></div>
	           
	        </div>
	    </div>