		<!--MODAL FOR NEW RECEIPT-->
	    <div id="openModalNR" class="modalDialogB">
	        <div>
	            <a href="#close" title="Close" class="closeB">X</a>
	            <div id="content">
				<% include ../newlabel_partitions/LabelForm.ejs %>
	            </div>
	        </div>
	    </div>
