		<!--MODAL FOR NEW RECEIPT-->
	    <div id="openModalZ" class="modalDialogB">
	        <div>
	            <a href="#close" title="Close" class="closeB">X</a>
	            <div id="repack_form">
				<% include ../newlabel_partitions/newReceipt.ejs %>
	            </div>
	        </div>
	    </div>