<div id="openModalE" class="modalDialog">
    <div>
        <a href="#close" title="Close" class="closeB">X</a>
        
        <h1>Deleting labels:</h1><br>
        
        <div id="modalDeleteItems">
            
        </div>
        
        <br><br><button id="btn_dodelete">Delete !</button>
    </div>
</div>

<script>

    $("#btn_dodelete").click(
        function(){
            
            checkboxes = document.getElementsByName("checkdelete");
            
            for(i in checkboxes)
            {
                if(checkboxes[i].checked)
                {
                    wh = JSON.parse(checkboxes[i].id);
                        
                    $("#delete-" + wh["objectId"]).replaceWith("<img id='delete-" + wh["objectId"] + "' src='/web/img/icons/loader_grey.gif' width=16 height=16>");
                    
                    /*
                    $.post("/deleterow", 
                            {collection:"Warehouses", "objectId":wh["objectId"]},
                            function(data)
                            {
                                res = JSON.parse(data);
                                $("#delete-" + res["objectId"]).replaceWith("  DELETED");
                                
                            });*/

                    /* SEND THIS WAREHOUSE TO TRASH */
                    var Warehouses = Parse.Object.extend("Warehouses");
                    
                    var query = new Parse.Query(Warehouses);
                    
                    query.get(wh["objectId"], {
                        success: 
                            function(label)
                            {
                                oldstatus = label.get("Status");
                                label.set("Status", "Deleted:" + oldstatus)
                                label.save();
                                
                                $("#delete-" + label.id).replaceWith("  DELETED");
                            },
                        error: 
                            function(object, error)
                            {
                                // The object was not retrieved successfully.
                                // error is a Parse.Error with an error code and description.
                            }
                        });
                }
            }
            
            $("#btn_dodelete").replaceWith("<a href='#close' id='btn_closedelete' class='pure-button pure-button-primary'> DONE </a>");
            
            $("#btn_closedelete").click(function(){
                    Insert({document: "Staff/Warehouses/labels_partitions/modaldeletelabels", itemid:"openModalE"});
                    update_table();
                });
                
            
            
            $("#deleteDiv").css("display", "block");
            $("#deleteconfirmDiv").css("display", "none");
            $(".checkdelete").css("display", "none");
            $("#deletecolumn").css("display", "none");
            
            $("#classifyDiv").css("display", "block");
            
        });

</script>
